<p>
        <h3><font color=blue>เลือกซื้อหม้อแปลงใหม่เมื่อสิ้นสุดใช้งานหม้อแปลงตัวเดิม</font></h3>
      </p>
<center>
  <object width="600" height="100">
  <param name="movie" value="/flash/repair_flash.swf">
  <embed src="/flash/repair_flash.swf?catNUM=2&x1=<%= @repair_information.repair_age %>&y1=<%= @projectlife %>" width="600" height="100"></embed>
</center>

</object>
</center>
<%= form_for @option2_information ,:url => {:action => "update_option2_information"}, :html => {:method => "post", :name => 'option2_information'} do |f| %>
  <input type=hidden name=transformer_id value=<%= @transformer.id %>
      <br><p><%= f.label :new_transformer_price, "ราคาหม้อแปลงใหม่ [Baht]", :class => 'inline' %></p>
      <p><%= f.text_field :new_transformer_price, :size => 15%></p>
      <p><%= f.label :rated_power, "Rated Power [MVA]", :class => 'inline' %></p>
      <p><%= f.text_field :rated_power, :size => 15%></p>
      <p><%= f.label :noload_loss, "No-Load Loss [kW]", :class => 'inline' %></p>
      <p><%= f.text_field :noload_loss, :size => 15%></p>
      <p><%= f.label :loadloss, "Load Loss [kW]", :class => 'inline' %></p>
      <p><%= f.text_field :loadloss, :size => 15%></p>
      <p><%= f.label :pm, "ค่าเสียโอกาสในการจ่ายไฟเนื่องจาก PM [Baht/year]", :class => 'inline' %></p>
      <p><%= f.text_field :pm, :size => 15%></p>
      <p><%= f.label :mc_avg, "ค่าซ่อมบำรุงเฉลี่ยรายปี [Baht/year]", :class => 'inline' %></p>
      <p><%= f.text_field :mc_avg, :size => 15%></p>
      <p><%= f.label :det_cost, "ค่าทำลายหรือรื้อถอน [Baht/year]", :class => 'inline' %></p>
      <p><%= f.text_field :det_cost, :size => 15%></p>
<hr>
<table>
	<tr>
	      <td width=15></td>
	      <td width=350><right><%= f.submit "Save", :class => "cupid-green" %></right></td>
              <td><input type="reset" value="Clear Data"></td>
</tr></table>
      <% end %>
