%dl
  .grid_8
    %dt Equipment No. 
    %dd
      = " : " + transformer.egatsn
  .grid_8
    %dt HV Rating 
    %dd
      = " : " + transformer.hv.to_s + " kV"
  .grid_8
    %dt MVA Rating
    %dd
      = " : " + transformer.maxcapacity.to_s + " MVA"
  .grid_8
    %dt First Energized: 
    %dd
      = " : " + transformer.first_energize.strftime("%d/%m/%Y")
  .grid_8
    %dt End of Life
    %dd
      = " : " + endlife.to_s
  .grid_8
    %dt Expected Lifetime
    %dd
      = " : " + explife.to_s
  .grid_8
    %dt Remaining Life
    %dd
      = " : " + remainlife.to_s
  .grid_8
    %dt Overall Condition (%)
    %dd
      = " : " + overallcondition.to_s
