<script language="javascript" type="text/javascript" src="/javascripts/jscolor.js"></script>
<h1>ปรับค่าสีในแนวแกน x</h1>
<%= form_tag(update_x_color_table_transformer_informations_url, :method=>'post', :multipart => true, :name => 'dynamiccombo') do %>
<center>
<table class="size80">
<tr><th><center>%II</center></th>
<th><center>Importance</center></th>
<th><center>Action</center></th>
<th><center>Color</center></th></tr>

<% @xdata.each do |r| %>
	<tr>
		<td><center>
		<input type="text" name="start_<%=r.id%>" value="<%= r.start %>"> - <input type="text" name="end_<%=r.id%>" value="<%= r.end %>">
		</center></td>
	
		<td><center><input type="text" class="medtext" name="importance_<%=r.id%>" value="<%= r.importance %>"></center></td>
		<td><center><input type="text" class="longtext" name="action_<%=r.id%>" value="<%= r.action %>"></center></td>
		<td><center><input class="color" name="color_<%= r.id%>" value="<%= r.color %>"></center></td></tr>
		</tr>
<% end%>
</table>
<input class="cupid-green" type="submit" value="Save">
<%end%>
</center>
