<h1>การคำนวณระยะ "d"</h1>
<p><div class="grid_12 prefix_2">
<%= form_tag(update_risk_table_transformer_informations_url, :method=>'post', :multipart => true, :name => 'dynamiccombo') do %>
<table border="2">
<tr><td colspan=3><center><b>Risk Table</b></center></td><tr>

<tr><th><center>d</center></th>
<th><center>Risk</center></th>
<th><center>Action</center></th></tr>
<% @risks.each do |r| %>
	<tr>
		<td><center>
		<input type="text" name="start_<%=r.id%>" value="<%= r.start %>"> - <input type="text" name="end_<%=r.id%>" value="<%= r.end %>">
		</center></td>
	
		<td><center><input type="text" class="medtext" name="risk_<%=r.id%>" value="<%= r.risk %>"></center></td>
		<td><center><input type="text" class="longtext" name="action_<%=r.id%>" value="<%= r.action %>"></center></td></tr>
<% end%>


<tr><td colspan=3><center><input class="cupid-green" type="submit" value="Save"></center></td></tr>

</table>
<%end%>
</div></p>