<h2>สถานีไฟฟ้า</h2>
<p>
<center>
<table border=1>
	<tr><th><center>No.</center></th><th><center>ชื่อย่อสถานี</center></th><th><center>ชื่อเต็มสถานี</center></th><th><center>เขต</center></th><th><center>Kv</center></th><th><center>Edit</center></th><th><center>Delete</center></ht></tr>
	<%if @num!=0%>
		<%for i in 0..@num-1 do%>
			<tr><td><center><%=i+1%></center></td><td><center><%=@station[i].name%></center></td><td><center><%=@station[i].full_name%></center></td>
			<td><center><%=@station[i].region%></center></td><td><center><%=@station[i].kv%></center></td>
			<td><center><%=link_to "Edit", {:controller => "manufacturing", :action => "modify_station",:id =>@station[i].id}, :class => 'edit'%></center></td>
			<td><center><%=link_to "Delete", {:controller => "manufacturing",:action => "delete_station",:id =>@station[i].id}, :confirm => 'ยืนยันการลบข้อมูล', :class => 'delete' %></center></td></rt>
		<%end%>
	<%end%>
</table>
</p>
<BR>
<p>
<%= form_for @station1 ,:url => {:action => "create_station"}, :html => {:method => "post", :name => 'station'} do |f| %>
	<table>
			<tr><td><b>ชื่อย่อสถานี : </b></td><td><%= f.text_field :name, :size => 15%></td><td></td></tr>
			<tr><td><b>ชื่อเต็มสถานี :</b></td><td><%= f.text_field :full_name, :size => 15%></td><td></td></tr>
			<tr><td><b>เขต : </b></td><td><%= f.text_field :region, :size => 15%></td><td></td></tr>
			<tr><td><b>KV : </b></td><td><%= f.text_field :kv, :size => 15%></td><td></td></tr>
			<tr><td colspan=2><%= f.submit "Save", :class => "cupid-green2" %></td><td></td></tr>
	</table>
<%end%>
</p>
</center>
