<h2>บริษัทผู้ผลิต OLTC</h2>
<p>
<center>
	<table border=1>
		<tr><th><center>Sequence</center></th><th><center>Manufacturer</center></th><th><center>Edit</center></th><th><center>Delete</center></th></tr>
	<%if @num5!=0%>
		<%for i in 0..@num5-1 do%>
			<tr><td><center><%=i+1%></center></td><td><center><%=@oltc[i].manufacturer%></center></td>
			<td><center><%=link_to "Edit", {:controller => "manufacturing", :action => "modify_oltc",:id =>@oltc[i].id}, :class => 'edit'%></center></td>
			<td><center><%=link_to "Deleta", {:controller => "manufacturing",:action => "delete_oltc",:id =>@oltc[i].id}, :confirm => 'ยืนยันการลบข้อมูล', :class => 'delete' %></center></td></rt>
		<%end%>
	<%end%>
		<tr><td></td><td></td><td></td><td></td></tr>
	</table>
</center>
</p>

<p>
	<%= form_for @oltc1 ,:url => {:action => "create_oltc"}, :html => {:method => "post", :name => 'Oltc'} do |f| %>
		<b>Manufacturer:</b>&nbsp;&nbsp;<%= f.text_field :manufacturer, :size => 15%>&nbsp;&nbsp;<%= f.submit "Save", :class => "cupid-green1" %>
	<%end%>
</p>
