<h2>แก้ไขข้อมูลสถานีไฟฟ้า</h2>
<p>
<div class="grid_3 prefix_5">
<%= form_for @station ,:url => {:action => "update_station"}, :html => {:method => "post", :name => 'station'} do |f| %>
	<table>
			<input type=hidden name="id" value=<%= @station.id %>>
			<tr><td><b>Name:</b></td><td><%= f.text_field :name, :size => 15%></td><td></td></tr>
			<tr><td><b>Fullname:</b></td><td><%= f.text_field :fullName, :size => 15%></td><td></td></tr>
			<tr><td><b>Region:</b></td><td><%= f.text_field :region, :size => 15%></td><td></td></tr>
			<tr><td><b>Kv:</b></td><td><%= f.text_field :kv, :size => 15%></td><td></td></tr>
			<tr><td colspan=2><%= f.submit "Save", :class => "cupid-green2" %></td><td></td></tr>
	</table>
<%end%>
</div>
</p>
