<h2>แก้ไขข้อมูลบริษัทผู้ผลิตหม้อแปลง</h2>
<p>
<center>
	<%= form_for @tx ,:url => {:action => "update_tx"}, :html => {:method => "post", :name => 'tx'} do |f| %>
		<input type=hidden name="id" value=<%= @tx.id %>>
		<table>
		<tr><td><b>Name Brand: </b>&nbsp;&nbsp;<%= f.text_field :name, :size => 15%></td></tr>
		<tr><td><b>Score:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;<%= f.text_field :score, :size => 15%></td></tr>
		<tr><td><%= f.submit "Save", :class => "cupid-green2" %></td><td></td></tr>
		</table>
	<%end%>
</center>
</p>
