<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/examples.css" />
<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.dateAxisRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.ohlcRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.json2.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.ciParser.js"></script>

<script class="code" type="text/javascript">$(document).ready(function(){    

     var line1 = [
	<% for i in 1..40 do %>
	[<%= i %>, <%= Math.exp(-(i/@eta)**@beta) %>],
	<% end %>
    ];
    plo1t = $.jqplot('chart1',[line1],{
        //title: '  Reliability Weibull Distribution',
	axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    min: 0,
		    max: 40,
		    //ticks: ticks,
		    label: 'Time (t)',
		    tickInterval: '5'
                },
		yaxis: {
        	    rendererOptions: { forceTickAt0: true, forceTickAt100: true },
		    min: 0,
		    max: 1,
		    label: 'Reliability'
                }
           },
       // dataRenderer: sineRenderer
    });
});</script>

<script class="code" type="text/javascript">$(document).ready(function(){     
    
    var line1 = [
	<% for i in 1..40 do %>
	[<%= i %>, <%= (@beta/@eta)*((i/@eta) ** (@beta - 1)) %>],
	<% end %>
    ];

    plo1t = $.jqplot('chart2',[line1],{
        //title: '  Failure Rate Weibull Distribution',
	axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    min: 0,
		    max: 40,
		    //ticks: ticks,
		    label: 'Time (t)',
		    tickInterval: '5'
                },
		yaxis: {
        	    rendererOptions: { forceTickAt0: true, forceTickAt100: true },
		    min: 0,
		    label: 'Failure Rate'
                }
           }
        //dataRenderer: sineRenderer
    });
});</script>

<p><h2>ผลการคำนวณ Weibull</h2></p>
<p><center><h2>Weibull Data Table</h2><br><br>
<table border="1">
	<tr>
		<th><center>Rank Order,i</center></th>
		<th><center>T</center></th>
		<th><center>Median Rank,F(T)</center></th>
		<th><center>x=ln(T)</center></th>
		<th><center>y=ln(ln(1/(1-F(T))))</center></th>
		<th><center>x^2</center></th>
		<th><center>y^2</center></th>
		<th><center>xy</center></th>
	</tr>
	<% for i in 1..@age_weibull.length do %>
	<tr>
		<td><center><%=@weibull_table[i]["rank_order"]%></center></td>
		<td><center><%=@weibull_table[i]["T"]%></center></td>
		<td><center><%=number_with_precision(@weibull_table[i]["median"], :precision => 5)%></center></td>
		<td><center><%=number_with_precision(@weibull_table[i]["x"], :precision => 5)%></center></td>
		<td><center><%=number_with_precision(@weibull_table[i]["y"], :precision => 5)%></center></td>
		<td><center><%=number_with_precision(@weibull_table[i]["x2"], :precision => 5)%></center></td>
		<td><center><%=number_with_precision(@weibull_table[i]["y2"], :precision => 5)%></center></td>
		<td><center><%=number_with_precision(@weibull_table[i]["xy"], :precision => 5)%></center></td>
	</tr>
	<% end %>
	<% if @age_weibull.length > 0 %>
	<tr>
		<td><center><b>Sum</b></center></td>
		<td><center></center></td>
		<td><center></center></td>
		<td><center><b><%=number_with_precision(@summation["x"], :precision => 5)%></b></center></td>
		<td><center><b><%=number_with_precision(@summation["y"], :precision => 5)%></b></center></td>
		<td><center><b><%=number_with_precision(@summation["x2"], :precision => 5)%></b></center></td>
		<td><center><b><%=number_with_precision(@summation["y2"], :precision => 5)%></b></center></td>
		<td><center><b><%=number_with_precision(@summation["xy"], :precision => 5)%></b></center></td>
	</tr>	
	<%end%>
</table></center></p>

<p><div class="grid_5 prefix_6">
<table>
	<tr><th colspan=2><center>Weibull Parameters</center></th><tr>
	<tr><td>Beta (β)</td><td><center><%=number_with_precision(@beta, :precision => 5) %></center></td></tr>
	<tr><td>C</td><td><center><%=number_with_precision(@c, :precision => 5) %></center></td></tr>
	<tr><td>Eta (ƞ)</td><td><center><%=number_with_precision(@eta, :precision => 5) %></center></td></tr>
	<tr><td>Gamma Function (Γ)</td><td><center><%=number_with_precision(@grammar, :precision => 5) %></center></td></tr>
	<tr><td>MTBF</td><td><center><%=number_with_precision(@mtbf, :precision => 5)%></center></td></tr>
</table>
</div></p>
<p><div class="grid_16 prefix_0"><center>
	<table>
		<tr><td><center><b>
		<%for i in 0..10 do%>
			&nbsp;
		<%end%>
		Reliability <br>
		<%for i in 0..10 do%>
			&nbsp;
		<%end%>
		Weibull Distribution</b><br><div id="chart1" style="height:320px; width:400px;"></div></center></td>
		<td><center><b>
		<%for i in 0..12 do%>
			&nbsp;
		<%end%>		
		Failure Rate <br>
		<%for i in 0..12 do%>
			&nbsp;
		<%end%>
		Weibull Distribution</b><br><div id="chart2" style="height:320px; width:400px;"></div></center></td></tr>
	</table></div>
</center></p>
