<script>
function displaysub(x) {
    var manu = Ext.getCmp('manufacturer');
    option = new Array();

    option[0] = ['-- All --', '-- All --'];
    if(x=="Bushing"){
        <%if @numBushing!=0%>
          <%for i in 0..@numBushing-1 do%>
            option[<%=i+1%>] = ['<%=@bushing[i].id%>','<%=@bushing[i].manufacturer%>'];
          <%end%>
        <%end%>

    } else if (x=="Arrester"){
        <%if @numArrester!=0%>
            <%for i in 0..@numArrester-1 do%>
                option[<%=i+1%>] = ['<%=@arrester[i].id%>','<%=@arrester[i].manufacturer%>'];
            <%end%>
        <%end%>
    } else {
        <%if @numOltc!=0%>
            <%for i in 0..@numOltc-1 do%>
                    option[<%=i+1%>]= ['<%=@oltc[i].id%>','<%=@oltc[i].manufacturer%>'];
            <%end%>
        <%end%>
    }

    manu.store.removeAll();
    manu.store.loadData(option, true);
    manu.setValue(option[0][0]);
}


function displaytype(y){
    var equipe = Ext.getCmp('select_manufacturer');
    var x = equipe.getValue();
    var type = Ext.getCmp('type');

    option = new Array();
    option[0] = ['-- All --', '-- All --'];

    if(x=="Bushing"){
        <%if @numBushing!=0%>
          if(y == "-- All --") {
                <% for i in 0..@allbushingtype.size-1 do%>
                    option[<%=i+1%>] = ['<%=@allbushingtype[i].bushing_hv_type%>','<%=@allbushingtype[i].bushing_hv_type%>'];
                <%end%>
	  }
          <%for i in 0..@numBushing-1 do%>
              if(y == <%= @bushing[i].id %>) {
                <% for j in 0..@bushingtype[i].size-1 do%>
                    option[<%=j+1%>] = ['<%=@bushingtype[i][j].bushing_hv_type%>','<%=@bushingtype[i][j].bushing_hv_type%>'];
                <%end%>
              } 
        <%end%>
      <%end%>
    } else if (x=="Arrester"){
       <%if @numArrester!=0%>
         if (y == "-- All --") {
                <% for i in 0..@allarrestertype.size-1 do%>
                    option[<%=i+1%>] = ['<%=@allarrestertype[i].arrester_hv_type%>','<%=@allarrestertype[i].arrester_hv_type%>'];
                <%end%>
         }
         <%for i in 0..@numArrester-1 do%>
             if(y == <%= @arrester[i].id %>) {
                <% for j in 0..@arrestertype[i].size-1 do%>
                    option[<%=j+1%>] = ['<%=@arrestertype[i][j].arrester_hv_type%>','<%=@arrestertype[i][j].arrester_hv_type%>'];
                <%end%>
             }
        <%end%>
      <%end%>
    } else {
        <%if @numOltc!=0%>
         if (y == "-- All --") {
                <% for i in 0..(@alloltctype.length)-1 do %>
                    option[<%=i+1%>] = ['<%=@alloltctype[i].oltc_type%>','<%=@alloltctype[i].oltc_type%>'];
                <%end%>
         }
            <%for i in 0..@numOltc-1 do%>
               if(y == <%= @oltc[i].id %>) {
                <% for j in 0..(@oltctype[i].length)-1 do %>
                    option[<%=j+1%>] = ['<%=@oltctype[i][j].oltc_type%>','<%=@oltctype[i][j].oltc_type%>'];
                <%end%>
             }
            <%end%>
      <%end%>
    }

    type.store.removeAll();
    type.store.loadData(option, true);
    type.setValue(option[0][0]);
}
</script>

<p><h2>&nbsp;Inventory Control / Weibull Calculation</h2></p>
<p>
<%= form_tag('/weibull/weibull_calculation', :method=>'post') do %>
<table><tr><td><b>อุปกรณ์</b></td>
<td><select  id="select_manufacturer" name="select_manufacturer" size ="1" onChange="displaysub()">
	<option value="Bushing">Bushing</option>
	<option value="Arrester">Arrester</option>
	<option value="OLTC">OLTC</option>
</select></td></tr>
<tr><td><b>Voltage Rating</b></td>
<td><select id="voltage" name="voltage" size="1">
	<option value="11">11</option>
	<option value="22">22</option>
	<option value="33">33</option>
	<option value="69">69</option>
	<option value="115">115</option>
	<option value="132">132</option>
	<option value="230">230</option>
	<option value="500">500</option>
</select></td></tr>
<tr><td><b>Manufacturer</b></td>
<td><select id="manufacturer" name = "manufacturer" size="1">
	<option value="0">โปรดระบุ</option>
</select></td></tr>
<tr><td><b>Type</b></td>
<td><select id="type" name="type" size="1">
	<option value="0">--All--</option>
</select></td></tr>
<tr><td><b>รายละเอียดความผิดปกติหรือเสียหาย</b></td>
<td><select id="failuredetail" name="failuredetail" size="1">
	<option value="-- All --">-- All --</option>
	<%if @num_fddetail!=0%>
		<%for i in 0..@num_fddetail-2 do%>
				<option value='<%=@fddetail[i].detail%>'><%=@fddetail[i].detail%></option>
		<%end%>
	<%end%>
</select></td></tr>
<tr><td><b>Time Interval for Failure Observation(years)</b></td>
<td><input id="time_interval" name="time_interval" type="text" size="10"></td></tr>
<tr><td><b>Lead Time(years)</b></td>
<td><input id="lead_time" name="lead_time" type="text" size="10"></td></tr>
<tr><td></td><td><input type="submit" value="คำนวณ" size="10"></td></tr>
</table>
<% end %>
</p>
