<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/examples.css" />
<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.barRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.pieRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.categoryAxisRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.highlighter.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.pointLabels.js"></script>

  <script class="code" type="text/javascript">$(document).ready(function(){
        var s1 = [
	<% for i in 0..15 do%>
	   <%= @poisson_reliability[i] %>,
	<%end%> 
	];
        var ticks = ['1', '2', '3', '4','5','6','7','8','9','10','11','12','13','14','15'];
        
        plot1 = $.jqplot('chart1', [s1], {
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer//,
                //pointLabels: { show: true }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    ticks: ticks,
		    label: 'STOCK LEVEL (UNITS)'
                },
		yaxis: {
        	    rendererOptions: { forceTickAt0: true, forceTickAt100: true },
		    min: 0,
		    label: 'RELIABILITY (%)'
                }
            },
            highlighter: { show: false }
        });
    
        $('#chart1').bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
                $('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
            }
        );
    });</script>



<p><h2>&nbsp;Inventory Control / Weibull Calculation</h2></p>
<%= form_tag('/weibull/weibull_chart', :method=>'post') do %>
<p>
<table><tr><td><b>อุปกรณ์</b></td><td><input id="equipement" name="equipement" value="<%=@equipement%>" type="text" size="15" readonly></td></tr>
<tr><td><b>Voltage Rating</b></td><td><input id="voltage" name="voltage" value="<%=@voltage%>" type="text" size="15" readonly></td></tr>
<tr><td><b>Manufacturer</b></td><td><input id="manu" name="manu" value="<%=@manu_name%>" type="text" size="15" readonly></td></tr>
<tr><td><b>Type</b></td><td><input id="etype" name="etype" value="<%=@type%>" type="text" size="15" readonly></td></tr>
<tr><td><b>รายละเอียดความผิดปกติหรือเสียหาย</b></td><td><input id="failuredetail" name="failuredetail" value="<%=@failuredetail%>" type="text" size="15" readonly></td></tr>
<tr><td><b>Time Interval for Failure Observation(years)</b></td><td><input id="time_interval" name="time_interval" value="<%=@time_interval%>" type="text" size="15"></td></tr>
<tr><td><b>Lead Time(years)</b></td><td><input id="lead_time" name="lead_time" value="<%=@lead_time%>" type="text" size="15" readonly></td></tr>
</table>
</p>

<p>
<center><h3>Weibull Distribution</h3></center>
<table>
<tr><td>จำนวนครั้งที่เสียหาย</td><td><%= @f_normal_weibull %></td></tr>
<tr><td>β</td><td><% if @age_weibull.size < 2 %>
			-
		  <% else %>
			<%= number_with_precision(@beta, :precision => 5) %>
		  <%end%></td></tr>
<tr><td>MTBF</td><td><% if @age_weibull.size < 2 %>
			-
		     <% else %>
			<%= number_with_precision(@mtbf, :precision => 5) %>
		  <%end%></td></tr>
</table>
</p>


<p><table border="1">
<tr>
    <th></th><th><center>จำนวนครั้งที่เสียหาย</center></th><th><center>Service Years</center></th><th><center>λ</center></th><th><center>Spare (Reliability 99%)</center></th>
</tr>
<tr>
    <td>Poisson Distribution</td>
    <td><center><%= @f_poisson %></center></td>
    <td><center><%= @service_year_poisson%></center></td>
    <% if @f_poisson == 0 %>
    	<td><center>-</center></td>
    	<td><center>-</center></td>
    <%else%>
    	<td><center><%= number_with_precision(@lambda_poisson_dist, :precision => 5) %></center></td>
    	<td><center><%= number_with_precision(@spare_poisson, :precision => 5) %>
   <%end%>
</tr>
<tr>
    <td>Normal Distribution</td>
    <td><center><%= @f_normal_weibull %></center></td>
    <td><center><%= @service_year_normal_weibull%></center></td>
    <% if @f_normal_weibull == 0 %>
    	<td><center>-</center></td>
    	<td><center>-</center></td>
    <% else %>
    	<td><center><%= number_with_precision(@lambda_normal_dist, :precision => 5) %></center></td>
    	<td><center><%= number_with_precision(@spare_normal_dist, :precision => 5) %>
    <%end %>
</tr>
</table>

<BR><BR>

<center>
<% if @f_poisson != 0 %>
	INTERVAL RELIABILTY STOCK<br>
	(Poisson Distribution)
<BR>
<div id="chart1" style="margin-top:2px; margin-left:20px; width:640px; height:300px;"></div>
<%end%>
<BR><BR>
	<% if @age_weibull.size >= 2 %>
	<%= submit_tag 'ดูผลคำนวณ Weibull', :name => 'chart' %><BR>
	<%end%>
<%#= submit_tag 'แสดงรายละเอียดอุปกรณ์ที่พิจารณา', :name => 'detail' %>
<%end%>
</center>

