<script>
function displaysub(){
    var xobj = document.dynamiccombo.select_manufacturer;
    var x  = xobj.options[xobj.selectedIndex].value;
    var cacheobj=document.dynamiccombo.manufacturer_1;
	cacheobj.options.length = 0;
	if(x=="Bushing"){
		<%if @numBushing!=0%>
			<%for i in 0..@numBushing-1 do%>
				cacheobj.options[<%=i%>]=new Option('<%=@bushing[i].manufacturer%>','<%=@bushing[i].manufacturer%>');
			<%end%>
		<%end%>
		cacheobj.options[0].selected=true;
	}else if(x=="Arrester"){
		<%if @numArrester!=0%>
			<%for i in 0..@numArrester-1 do%>
				cacheobj.options[<%=i%>]=new Option('<%=@arrester[i].manufacturer%>','<%=@arrester[i].manufacturer%>');
			<%end%>
		<%end%>
		cacheobj.options[0].selected=true;
	}else{
		<%if @numOltc!=0%>
			<%for i in 0..@numOltc-1 do%>
				cacheobj.options[<%=i%>]=new Option('<%=@oltc[i].manufacturer%>','<%=@oltc[i].manufacturer%>');
			<%end%>
		<%end%>
		cacheobj.options[0].selected=true;
	
	}
		
}


/*$(function() {
  PriceLoss.setupTransformerNameComboxBox('station_station');
  Cbox.setupComboxBox('select_manufacturer');
  Cbox.setupComboxBox('voltage');
  Cbox.setupComboxBox('manufacturer_1');
});*/

</script>
<p><h2>&nbsp;Inventory Control / Weibull Calculation</h2></p>
<p>
<form name='dynamiccombo'>
<table><tr><td><b>อุปกรณ์</b></td>
<td><select  id="select_manufacturer" name="select_manufacturer" size ="1" onChange="displaysub()">
	<option value="#" ></option>
	<option value="Bushing">Bushing</option>
	<option value="Arrester">Arrester</option>
	<option value="OLTC">OLTC</option>
</select></td></tr>
<tr><td><b>Voltage Rating</b></td>
<td><select id="voltage" name="voltage" size="1">
	<option value="#"></option>
	<option value="11">11</option>
	<option value="22">22</option>
	<option value="33">33</option>
	<option value="69">69</option>
	<option value="115">115</option>
	<option value="132">132</option>
	<option value="230">230</option>
	<option value="500">500</option>
</select></td></tr>
<tr><td><b>Manufacturer</b></td>
<td><select id="manufacturer_1" name = "manufacturer_1" size="1">
	<option value="#"></option>
</select></td></tr>
<tr><td><b>Type</b></td>
<td><select size="1">
	<option value="#"></option>
</select></td></tr>
<tr><td><b>รายละเอียดความผิดปกติหรือเสียหาย</b></td>
<td><select size="1">
	<option value="#"></option>
	<option value="ปกติ">ปกติ</option>
	<option value="รั่วซึม">รั่วซึม</option>
	<option value="แตก/ขาด">แตก/ขาด</option>
	<option value="ฝืด/ขัดตัว">ฝืด/ขัดตัว</option>
	<option value="หลุด/หลวม">หลุด/หลวม</option>
	<option value="สนิม/สกปรก">สนิม/สกปรก</option>
	<option value="ลัดวงจร">ลัดวงจร</option>
	<option value="Flashover">Flashover</option>
	<option value="Hot Spot">Hot Spot</option>
	<option value="อุปกรณ์ชำรุด">อุปกรณ์ชำรุด</option>
	<option value="ไม่ทำงาน">ไม่ทำงาน</option>
	<option value="ทำงานไม่ถูกต้อง">ทำงานไม่ถูกต้อง</option>
	<option value="คุณสมบัติเปลี่ยนไป">คุณสมบัติเปลี่ยนไป</option>
	<option value="ทดสอบไม่ผ่าน">ทดสอบไม่ผ่าน</option>
	<option value="อื่นๆ ให้ระบุ">อื่นๆ ให้ระบุ</option>	
</select></td></tr>
<tr><td><b>Time Interval for Failure Observation(years)</b></td>
<td><input type="text" size="10"></td></tr>
<tr><td><b>Lead Time(years)</b></td>
<td><input type="text" size="10"></td></tr>
<tr><td></td><td><input type="submit" value="คำนวณ" size="10"></td></tr>
</table>
</form>
</p>
