<script>
function displaysub(x){
//alert(x);
  var manu = Ext.getCmp('failurepart');
    option = new Array();
    <%if @num_group!=0%>
        <%for i in 0..@num_group-1 do%>
	       <%if @num_part[i]!=0%>
			if(x==<%=@part[i].first.mainid%>){
				<%for j in 0..@num_part[i]-1 do%>
					option[<%=j%>]= ['<%=@part[i][j].part%>','<%=@part[i][j].part%>'];
				<%end%>
		
		}else
              <%end%>
	<%end%>
		{
			option[0]= ['','---โปรดระบุ---'];
		}
    <%end%>
    
    manu.store.removeAll();
    manu.store.loadData(option, true);
    manu.setValue(option[0][0]);

}

function displayform(a) {
//	var userInput = document.getElementById('userInput').value;
	var manage = Ext.getCmp('manage');
	var manageId = manage.getValue();
	var group = Ext.getCmp('failuregroup');
	var groupId = group.getValue();
	var part = Ext.getCmp('failurepart');
	var partVal = part.getValue();
	if (manageId == <%=@replaces.id%>) {
		if(groupId == <%=@oltcs.id%>) {
			document.getElementById('replaceinfo').innerHTML = 
			"<div class='grid_15 prefix_1 accessories' ><label>OLTC</label> \
			<table><tr><td></td> \
   			<td><p align=right>Manufacturer</p></td> \
   			<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
			<%if @num_oltc!=0%> 
				<%for i in 0..@num_oltc-1 do%> 
					<option value='<%=@manufacturer_oltc[i].id%>'><%=@manufacturer_oltc[i].manufacturer%></option> \
				<%end%> 
			<%end%> 
			</select> \
			</p></td> \
   			<td>Type &nbsp;&nbsp;<input type='text' name='oltc_type'></td> \
   			<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='oltc_year'></td> \
			</tr> \
			</table> \
			</div>";
		}else if(groupId == <%=@bushings.id%>){
			if(partVal == "HV Bushing"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Bushing</label> \
				<table> \
				<tr> \
   				<td><p align=left>HV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_bushing!=0%>
					<%for i in 0..@num_bushing-1 do%>
						<option value='<%=@manufacturer_bushing[i].id%>'><%=@manufacturer_bushing[i].manufacturer%></option> \
					<%end%>
				<%end%>
				</select> \
				</p></td> \
				<td>Type &nbsp;&nbsp;<input type='text' name='bushing_hv_type'></td> \
				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='bushing_hv_year'></td> \
				</tr> \
				<tr> \
				<td></td> \
				<td><p align=right>Serial No.</p></td> \
				<td>H0 <input type='text' name='bushing_hv_h0'></td> \
				<td>H1 <input type='text' name='bushing_hv_h1'></td> \
				<td>H2 <input type='text' name='bushing_hv_h2'></td> \
				<td>H3 <input type='text' name='bushing_hv_h3'></td> \
				</tr> \
				</table> \
				</div>";
			}else if(partVal == "LV Bushing"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Bushing</label> \
				<table> \
				<tr> \
				<td><p align=left>LV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_bushing!=0%>
					<%for i in 0..@num_bushing-1 do%>
						<option value='<%=@manufacturer_bushing[i].id%>'><%=@manufacturer_bushing[i].manufacturer%></option> \
					<%end%>
				<%end%>
				</select> \
				</p></td> \
				<td>Type &nbsp;&nbsp;<input type='text' name='bushing_lv_type'></td> \
				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='bushing_lv_year'></td> \
				</tr> \
				<tr> \
				<td></td> \
				<td><p align=right>Serial No.</p></td> \
				<td>X0 <input type='text' name='bushing_lv_x0'></td> \
				<td>X1 <input type='text' name='bushing_lv_x1'></td> \
				<td>X2 <input type='text' name='bushing_lv_x2'></td> \
				<td>X3 <input type='text' name='bushing_lv_x3'></td> \
				</tr> \
				</table> \
				</div>";
			}else if(partVal == "TV Bushing"){
					document.getElementById('replaceinfo').innerHTML = 
					"<div class='grid_15 prefix_1 accessories' > \
					<label>Bushing</label> \
					<table> \
					<tr><td><p align=left>TV</p></td> \
					<td><p align=right>Manufacturer</p></td> \
					<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
					<%if @num_bushing!=0%>
						<%for i in 0..@num_bushing-1 do%>
							<option value='<%=@manufacturer_bushing[i].id%>'><%=@manufacturer_bushing[i].manufacturer%></option> \
						<%end%>
					<%end%>
					</select> \
					</p></td> \
   					<td>Type &nbsp;&nbsp;<input type='text' name='bushing_tv_type'></td> \
   					<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='bushing_tv_year'></td> \
					</tr> \
					<tr> \
   					<td></td> \
   					<td><p align=right>Serial No.</p></td> \
   					<td>Y1 <input type='text' name='bushing_tv_y1'></td> \
   					<td>Y2 <input type='text' name='bushing_tv_y2'></td> \
   					<td>Y3 <input type='text' name='bushing_tv_y3'></td> \
   					<td></td> \
					</tr> \
					</table> \
					</div>";
			}else{
				document.getElementById('replaceinfo').innerHTML = "";
			}		
		}else if(groupId == <%=@arresters.id%>){
			if(partVal == "HV Arrester"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Arrester</label> \
				<table> \
				<tr><td><p align=left>HV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_arrester!=0%>
					<%for i in 0..@num_arrester-1 do%>
						<option value='<%=@manufacturer_arrester[i].id%>'><%=@manufacturer_arrester[i].manufacturer%></option> \
					<%end%>
				<%end%>
				</select>  \
				</p></td>  \
   				<td>Type &nbsp;&nbsp;<input type='text' name='arrester_hv_type'></td> \
   				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='arrester_hv_year'></td> \
   				<td rowspan=2><table> \
				<tr><td><p align=right>Gap</p></td><td><input checked='checked' id='arrester_hv_gapless_0' name='arrester_hv_gapless' type='radio' value='0'></td></tr> \
       				<tr><td><p align=right>Gapless</p></td><td><input id='arrester_hv_gapless_1' name='arrester_hv_gapless' type='radio' value='1'></td></tr> \
				</table> \
   				</td> \
				</tr> \
				<tr> \
   				<td></td> \
   				<td><p align=right>Serial No.</p></td> \
   				<td>H1 <input type='text' name='arrester_hv_h1'></td> \
   				<td>H2 <input type='text' name='arrester_hv_h2'></td> \
   				<td>H3 <input type='text' name='arrester_hv_h3'></td> \
				</tr> \
				</table> \
				</div>";
			}else if(partVal == "LV Arrester"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Arrester</label> \
				<table> \
				<tr><td><p align=left>LV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_arrester!=0%>
					<%for i in 0..@num_arrester-1 do%>
						<option value='<%=@manufacturer_arrester[i].id%>'><%=@manufacturer_arrester[i].manufacturer%></option> \
					<%end%>
				<%end%>
				</select>  \
				</p></td>  \
   				<td>Type &nbsp;&nbsp;<input type='text' name='arrester_lv_type'></td> \
   				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='arrester_lv_year'></td> \
   				<td rowspan=2><table> \
				<tr><td><p align=right>Gap</p></td><td><input checked='checked' id='arrester_lv_gapless_0' name='arrester_lv_gapless' type='radio' value='0'></td></tr> \
       				<tr><td><p align=right>Gapless</p></td><td><input id='arrester_lv_gapless_1' name='arrester_lv_gapless' type='radio' value='1'></td></tr> \
				</table> \
   				</td> \
				</tr> \
				<tr> \
   				<td></td> \
   				<td><p align=right>Serial No.</p></td> \
   				<td>X1 <input type='text' name='arrester_lv_x1'></td> \
   				<td>X2 <input type='text' name='arrester_lv_x2'></td> \
   				<td>X3 <input type='text' name='arrester_lv_x3'></td> \
				</tr> \
				</table> \
				</div>";
			}else{
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Arrester</label> \
				<table> \
				<tr><td><p align=left>TV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_arrester!=0%>
					<%for i in 0..@num_arrester-1 do%>
						<option value='<%=@manufacturer_arrester[i].id%>'><%=@manufacturer_arrester[i].manufacturer%></option> \
					<%end%>
				<%end%>
				</select>  \
				</p></td>  \
   				<td>Type &nbsp;&nbsp;<input type='text' name='arrester_tv_type'></td> \
   				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='arrester_tv_year'></td> \
   				<td rowspan=2><table> \
				<tr><td><p align=right>Gap</p></td><td><input checked='checked' id='arrester_tv_gapless_0' name='arrester_tv_gapless' type='radio' value='0'></td></tr> \
       				<tr><td><p align=right>Gapless</p></td><td><input id='arrester_tv_gapless_1' name='arrester_tv_gapless' type='radio' value='1'></td></tr> \
				</table> \
   				</td> \
				</tr> \
				<tr> \
   				<td></td> \
   				<td><p align=right>Serial No.</p></td> \
   				<td>Y1 <input type='text' name='arrester_tv_y1'></td> \
   				<td>Y2 <input type='text' name='arrester_tv_y2'></td> \
   				<td>Y3 <input type='text' name='arrester_tv_y3'></td> \
				</tr> \
				</table> \
				</div>";
			}
		}else{	
			document.getElementById('replaceinfo').innerHTML = "";
		}
	}else{
		document.getElementById('replaceinfo').innerHTML = "";
	}

	Cbox.setupComboxBox('replace_manufacturer');
}



function setValueText1(){
		$("#downdatetime").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
		$("#updatetime").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
		$("#eventdate").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
}

$(function(){
		setValueText1(); 
});
	
</script>

<h1>เพิ่มรายงานความผิดปกติหม้อแปลงไฟฟ้า</h1>
<%= form_tag('/transformer_info/create_failurereport', :method=>'post', :multipart => true, :name => 'dynamiccombo') do %>
	<input type=hidden name="tid" value=<%= @tid %>>
<table>
<tr>
    <td>เขต</td>
    <td><%= text_field_tag 'region',@region,:readonly => true%></td>
    <td></td>
</tr>
<tr>
    <td>หม้อแปลงไฟฟ้า</td>
    <td><%= text_field_tag 'txname',@txnams.transformer_name,:readonly => true%></td>

</tr>
<tr>
    <td>Equipement No.</td>
    <td><%= text_field_tag 'egatsn',@txnams.egatsn,:readonly => true%></td>
    <td></td>
</tr>
<tr>
    <td>วันที่เกิดเหตุการณ์</td>
    <td><%= text_field_tag :eventdate%></td>
    <td></td>
</tr>
<tr>
    <td>จำนวนครั้งในการทำงานของ OLTC</td>
    <td><%= text_field_tag :counterOLTC%></td>
    <td></td>
</tr>
<tr>
	<td>สภาพแวดล้อม</td>
        <td><select id='environment' name='environment'>
		<option value=''></option>
		<%if @num_environments!=0%>
		  <%for i in 0..@num_environments-1 do%>
			<%if i==0%>
				<option value='<%=@environments[i].id%>' selected="true"><%=@environments[i].environmnt%></option>
			<%else%>
				<option value='<%=@environments[i].id%>'><%=@environments[i].environmnt%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag :environment_etc%></td>
</tr>
<tr>
	<td>สภาวะการใช้งานขณะพบความผิดปกติ</td>
        <td><select id='failurestatus' name='failurestatus'>
		<option value=''></option>
		<%if @num_function!=0%>
		  <%for i in 0..@num_function-1 do%>
			<%if i==0%>
				<option value='<%=@function[i].id%>' selected="true"><%=@function[i].function%></option>
			<%else%>
				<option value='<%=@function[i].id%>'><%=@function[i].function%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag :failurestatus_etc%></td>
</tr>
<tr>
        <td>รายละเอียดความผิดปกติ</td>
        <td><select id='failuredetail' name='failuredetail'>
		<option value=''></option>
		<%if @num_detail!=0%>
		  <%for i in 0..@num_detail-1 do%>
			<%if i==0%>
				<option value='<%=@detail[i].id%>' selected="true"><%=@detail[i].detail%></option>
			<%else%>
				<option value='<%=@detail[i].id%>'><%=@detail[i].detail%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag :failuredetail_etc%></td>
</tr>
<tr>
	<td>วันที่ปลดออกจากระบบ</td>
        <td><%= text_field_tag :downdatetime%></td>
	<td></td>
</tr>
<tr>
        <td>เวลาที่ปลดออกจากระบบ</td>
        <td><select id='downtimehour' name='downtimehour'>
			<%for i in 0..23 do%>
			    <%if i<10%>
				<option value='<%='0'+i.to_s%>'><%='0'+i.to_s%></option>
			    <%else%>
				<option value='<%=i%>'><%=i%></option>
			    <%end%>
			<%end%>
		</select></td><td><select id='downtimeminute' name='downtimeminute'>
			<%for i in 0..59 do%>
			    <%if i<10%>
				<option value='<%='0'+i.to_s%>'><%='0'+i.to_s%></option>
			    <%else%>
				<option value='<%=i%>'><%=i%></option>
			    <%end%>
			<%end%>
		</select></td>
</tr>
<tr>
	<td>วันที่นำเข้าระบบ</td>
        <td><%= text_field_tag :updatetime%></td>
	<td></td>
</tr>
<tr>
	<td>เวลาที่นำเข้าระบบ</td>
        <td><select id='uptimehour' name='uptimehour'>
			<%for i in 0..23 do%>
			    <%if i<10%>
				<option value='<%='0'+i.to_s%>'><%='0'+i.to_s%></option>
			    <%else%>
				<option value='<%=i%>'><%=i%></option>
			    <%end%>
			<%end%>
		</select></td><td><select id='uptimeminute' name='uptimeminute'>
			<%for i in 0..59 do%>
			    <%if i<10%>
				<option value='<%='0'+i.to_s%>'><%='0'+i.to_s%></option>
			    <%else%>
				<option value='<%=i%>'><%=i%></option>
			    <%end%>
			<%end%>
		</select></td>
</tr>
<tr>
	<td>เลขคำสั่งปฏิบัติงาน</td>
        <td><%= text_field_tag :workorder%></td>
	<td></td>
</tr>
<tr>
        <td>กลุ่มชิ้นส่วนที่เสียหายหรือผิดปกติ</td>
        <td><select id='failuregroup' name='failuregroup'>
		<option value=''></option>
		<%if @num_group!=0%>
		  <%for i in 0..@num_group-1 do%>
			<%if i==0%>
				<option value='<%=@group[i].id%>' selected="true"><%=@group[i].groupname%></option>
			<%else%>
				<option value='<%=@group[i].id%>'><%=@group[i].groupname%></option>
			<%end%>
		  <%end%>
		<%end%>
	    </select></td><td></td>
</tr>
<tr>
        <td>ชิ้นส่วนที่เสียหายหรือผิดปกติ</td>
        <td><select id='failurepart' name = 'failurepart'>
		<option value=""></option>
		<%if @num_part[0] != 0%>
		  <%for i in 0..@num_part[0]-1 do%>
			<%if i==0%>
				<option value='<%=@part[0][i].part%>' selected="true"><%=@part[0][i].part%></option>
			<%else%>
				<option value='<%=@part[0][i].part%>'><%=@part[0][i].part%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag :failuredetail_etc%></td>
</tr>
<tr>
	<td>ระดับความเสียหาย</td>
        <td><select id='failuremode' name='failuremode'>
		<option value=''></option>
		<%if @num_mode!=0%>
		  <%for i in 0..@num_mode-1 do%>
			<%if i==0%>
				<option value='<%=@mode[i].mode%>' selected="true"><%=@mode[i].mode%></option>
			<%else%>
				<option value='<%=@mode[i].mode%>'><%=@mode[i].mode%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td></td>
</tr>
<tr>
        <td>สาเหตุที่แท้จริง</td>
        <td><select id='failurereason' name='failurereason'>
		<option value=''></option>
		<%if @num_reason!=0%>
		  <%for i in 0..@num_reason-1 do%>
			<%if i==0%>
				<option value='<%=@reason[i].id%>' selected="true"><%=@reason[i].reason%></option>
			<%else%>
				<option value='<%=@reason[i].id%>'><%=@reason[i].reason%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag :failurereason_etc%></td>
</tr>
<tr>
        <td>การจัดการ</td>
        <td><select id='manage' name='manage'>
		<option value=''></option>
		<%if @num_manage!=0%>
		  <%for i in 0..@num_manage-1 do%>
			<%if i==0%>
				<option value='<%=@manage[i].id%>' selected="true"><%=@manage[i].manage%></option>
			<%else%>
				<option value='<%=@manage[i].id%>'><%=@manage[i].manage%></option>
			<%end%>
		  <%end%>
		<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag :manage_etc%></td>
</tr>
<tr><td colspan=3><div id='replaceinfo'></div></td></tr>
<tr>
        <td>รายละเอียดเพิ่มเติม (Remark)</td>
        <td><%= text_field_tag :remark%></td><td></td>
</tr>
<tr>
        <td>ผู้รายงาน</td>
        <td><%= text_field_tag :user%></td><td></td>
</tr>
<tr>
	<td colspan=3><center><%= submit_tag "Save", :class => "cupid-green" %></center></td>
</tr>
</table>
<%end%>
