<h1>เพิ่มรายงานความผิดปกติหม้อแปลงไฟฟ้า</h1>
<%= form_tag('/transformer_info/create_failurereport', :method=>'post') do %>
<table>
<tr>
    <td>เขต</td>
    <td><%= text_field_tag :region%></td>
    <td></td> 
    <td></td> 
</tr>
<tr>
    <td>หม้อแปลงไฟฟ้า</td>
    <td><%= text_field_tag :txname%></td>
    <td></td> 
    <td></td> 
</tr>
<tr>
    <td>Equipement No.</td>
    <td><%= text_field_tag :egatsn%></td>
    <td></td> 
    <td></td> 
</tr>
<tr>
    <td>วันที่เกิดเหตุการณ์</td>
    <td><%= text_field_tag :eventdate%></td>
    <td></td> 
    <td></td> 
</tr>
<tr>
    <td>จำนวนครั้งในการทำงานของ OLTC</td>
    <td><%= text_field_tag :counterOLTC%></td>
    <td></td> 
    <td></td> 
</tr>
<tr>
	<td>สภาพแวดล้อม</td>
        <td><%= select_tag "environment", options_from_collection_for_select(@environments, "name", "name") %></td>
        <td>อื่นๆ ระบุ</td>
        <td><%= text_field_tag :environment_etc%></td>
</tr>
<tr>
	<td>สภาวะการใช้งานขณะพบความผิดปกติ</td>
        <td><%= select_tag "failurestatus", options_from_collection_for_select(@function, "name", "name") %></td>
        <td>อื่นๆ ระบุ</td>
        <td><%= text_field_tag :failurestatus_etc%></td>
</tr>
<tr>
        <td>รายละเอียดความผิดปกติ</td>
        <td><%= select_tag "failuredetail", options_from_collection_for_select(@detail, "name", "name") %></td>
        <td>อื่นๆ ระบุ</td>
        <td><%= text_field_tag :failuredetail_etc%></td>
</tr>
<tr>
	<td>วันที่ปลดออกจากระบบ</td>
        <td><%= text_field_tag :downdate%></td>
	<td></td>
	<td></td>
</tr>
<tr>
        <td>เวลาที่ปลดออกจากระบบ</td>
        <td><%= select_tag "downtimehour", options_from_collection_for_select(@hours, "name", "name") %> : <%= select_tag "downtimeminute", options_from_collection_for_select(@minutes, "name", "name") %></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>วันที่นำเข้าระบบ</td>
        <td><%= text_field_tag :update%></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>เวลาที่นำเข้าระบบ</td>
        <td><%= select_tag "uptimehour", options_from_collection_for_select(@hours, "name", "name") %> : <%= select_tag "uptimeminute", options_from_collection_for_select(@minutes, "name", "name") %></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>เลขคำสั่งปฏิบัติงาน</td>
        <td><%= text_field_tag :workorder%></td>
	<td></td>
	<td></td>
</tr>
<tr>
        <td>กลุ่มชิ้นส่วนที่เสียหายหรือผิดปกติ</td>
        <td><%= select_tag "failuregroup", options_from_collection_for_select(@failuregroups, "name", "name") %></td>
	<td></td>
	<td></td>
</tr>
<tr>
        <td>ชิ้นส่วนที่เสียหายหรือผิดปกติ</td>
        <td><%= select_tag :failurepart%></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>ระดับความเสียหาย</td>
        <td><%= select_tag :failuremode, options_from_collection_for_select(@failuremodes, "name", "name") %></td>
	<td></td>
	<td></td>
</tr>
<tr>
        <td>สาเหตุที่แท้จริง</td>
        <td><%= select_tag "failurereason", options_from_collection_for_select(@failuredetails, "name", "name") %></td>
        <td>อื่นๆ ระบุ</td>
        <td><%= text_field_tag :failurereason_etc%></td>
</tr>
<tr>
        <td>การจัดการ</td>
        <td><%= select_tag "manage", options_from_collection_for_select(@manages, "name", "name") %></td>
        <td>อื่นๆ ระบุ</td>
        <td><%= text_field_tag :manage_etc%></td>
</tr>
<tr>
        <td>รายละเอียดเพิ่มเติม (Remark)</td>
        <td><%= text_field_tag :remark%></td>
	<td></td>
	<td></td>
</tr>
<tr>
        <td>ผู้รายงาน</td>
        <td><%= text_field_tag :user%></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td colspan=4><center><%= submit_tag "Save", :class => "cupid-green" %></center></td>
</tr>
</table>
<%end%>
