<h1>รายงานความผิดปกติของหม้อแปลงไฟฟ้า</h1>
<%= form_for :failure do |f| %>
<table width>
<tr><td><p align='right'><label>เขต</label></p></td>
    <td><%=
      @stations = Station.select("region").group("region").all
      f.collection_select(:station, @stations, :region, :region, 
                          {:prompt => 'All', :selected => params[:region]})
  %></td>
</tr>
<tr>
   <td><p align='right'><label>หม้อแปลงไฟฟ้า</label></td>
   <td><%=
      f.collection_select(:transformer, @txnames, "id", "transformer_name", 
                          {:prompt => '', :selected => params[:tid]})
  %></td>
</tr>
	<% if !@txinfo.blank? %>
  	<tr>
		<td><p align='right'><label>Equipment No.</label></p></td>
  		<td><%= f.text_field :egatsn, :value => @txinfo.egatsn, :readonly => true %></td>
 	</tr>
	</table>
	<%if @userid.priv7==1%>
	<BR>
	<center><%=link_to "เพิ่ม", {:controller => "transformer_info", :action => "addfailurereport",:region =>params[:region],:tid=>params[:tid]}, :class => 'add'%></center>
	<%end%>
	<BR>
	<table>
		<tr><th><center>วันที่เกิดเหตุการณ์</center></th><th><center>วันที่ปลดออกจากระบบ</center></th><th><center>วันที่นำเข้าระบบ</center></th><th><center>อุปกรณ์ที่เสียหาย</center></th>
	<%if @userid.priv7==1%>
		<th></th>
	<%end%>
		</tr>
	     <%if !@failures.nil?%>
		<% for lisfailures in @failures %>		
			<%if lisfailures.eventdate!=nil%>
				<%e1=lisfailures.eventdate.to_s.split(" ")%>
				<%e2=e1[0].split("-")%>
				<%eventdate=e2[2]+"/"+e2[1]+"/"+e2[0]%>
			<%else%>
				<%eventdate="-"%>
			<%end%>

			<%if lisfailures.downdatetime!=nil%>
				<%d1=lisfailures.downdatetime.to_s.split(" ")%>
				<%d2=d1[0].split("-")%>
				<%downdatetime=d2[2]+"/"+d2[1]+"/"+d2[0]%>
			<%else%>
				<%downdatetime="-"%>
			<%end%>

			<%if lisfailures.updatetime!=nil%>
				<%u1=lisfailures.updatetime.to_s.split(" ")%>
				<%u2=u1[0].split("-")%>
				<%updatetime=u2[2]+"/"+u2[1]+"/"+u2[0]%>
			<%else%>
				<%updatetime="-"%>
			<%end%>
			<tr><td><center><%=eventdate%></center></td>
			<td><center><%=downdatetime%></center></td>
			<td><center><%=updatetime%></center></td>
			<td><center><%=lisfailures.failuregroup%></center></td>
		<%if @userid.priv7==1%>
			<td><center><%=link_to "Edit", {:controller => "transformer_info", :action => "modify_failurere",:id =>lisfailures.id ,:region =>params[:region],:tid=>params[:tid]}, :class => 'edit'%> &nbsp;&nbsp;&nbsp;&nbsp;
                	<%= link_to("Delete", {:controller => "transformer_info", :action => "delete_failurere",:id =>lisfailures.id,:region =>params[:region],:tid=>params[:tid]}, :confirm => 'ยืนยันการลบข้อมูล', :class => 'delete') %></center></td>
		<%end%>			
		</tr>
		<%end%>
		</table>
		<%= will_paginate @failures %>
	    <%else%>
		</table>
	    <%end%>
	<%end%>
<%end%>
