<script>
function displaysub(x){
//alert(x);
  var manu = Ext.getCmp('failurepart');
    option = new Array();
    <%if @num_groups!=0%>
        <%for i in 0..@num_groups-1 do%>
	       <%if @num_parts[i]!=0%>
			if(x==<%=@parts[i].first.mainid%>){
				<%for j in 0..@num_parts[i]-1 do%>
					option[<%=j%>]= ['<%=@parts[i][j].part%>','<%=@parts[i][j].part%>'];
				<%end%>
		
		}else
              <%end%>
	<%end%>
		{
			option[0]= ['','---โปรดระบุ---'];
		}
    <%end%>
    
    manu.store.removeAll();
    manu.store.loadData(option, true);
    manu.setValue(option[0][0]);

}

function displayform() {
//	var userInput = document.getElementById('userInput').value;
	var manage = Ext.getCmp('manage');
	var manageId = manage.getValue();
	var group = Ext.getCmp('failuregroup');
	var groupId = group.getValue();
	var part = Ext.getCmp('failurepart');
	var partVal = part.getValue();
	if (manageId == <%=@replaces.id%>) {
		if(groupId == <%=@oltcs.id%>) {
			document.getElementById('replaceinfo').innerHTML = 
			"<div class='grid_15 prefix_1 accessories' ><label>OLTC</label> \
			<table><tr><td></td> \
   			<td><p align=right>Manufacturer</p></td> \
   			<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
			<%if @num_oltc!=0%> 
				<%for i in 0..@num_oltc-1 do%>
					<%if @txnams.oltc_manufacturer==@manufacturer_oltc[i].id%>
						<option value='<%=@manufacturer_oltc[i].id%>' selected='true'><%=@manufacturer_oltc[i].manufacturer%></option> \
					<%else%>
						<option value='<%=@manufacturer_oltc[i].id%>'><%=@manufacturer_oltc[i].manufacturer%></option> \
					<%end%>
				<%end%> 
			<%end%> 
			</select> \
			</p></td> \
   			<td>Type &nbsp;&nbsp;<input type='text' name='oltc_type' value ='<%=@txnams.oltc_type%>'></td> \
   			<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='oltc_year' value = '<%=@txnams.oltc_type%>'></td> \
			</tr> \
			</table> \
			</div>";
		}else if(groupId == <%=@bushings.id%>){
			if(partVal == "HV Bushing"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Bushing</label> \
				<table> \
				<tr> \
   				<td><p align=left>HV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_bushing!=0%>
					<%for i in 0..@num_bushing-1 do%>
						<%if @txnams.bushing_hv_manu==@manufacturer_bushing[i].id%>
							<option value='<%=@manufacturer_bushing[i].id %>' selected='true'><%=@manufacturer_bushing[i].manufacturer%></option> \
						<%else%>
							<option value='<%=@manufacturer_bushing[i].id %>'><%=@manufacturer_bushing[i].manufacturer%></option> \
						<%end%>
					<%end%>
				<%end%>
				</select> \
				</p></td> \
				<td>Type &nbsp;&nbsp;<input type='text' name='bushing_hv_type' value='<%=@txnams.bushing_hv_type%>'></td> \
				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='bushing_hv_year' value='<%=@txnams.bushing_hv_year%>'></td> \
				</tr> \
				<tr> \
				<td></td> \
				<td><p align=right>Serial No.</p></td> \
				<td>H0 <input type='text' name='bushing_hv_h0' value='<%=@txnams.bushing_hv_h0%>'></td> \
				<td>H1 <input type='text' name='bushing_hv_h1' value='<%=@txnams.bushing_hv_h1%>'></td> \
				<td>H2 <input type='text' name='bushing_hv_h2' value='<%=@txnams.bushing_hv_h2%>'></td> \
				<td>H3 <input type='text' name='bushing_hv_h3' value='<%=@txnams.bushing_hv_h3%>'></td> \
				</tr> \
				</table> \
				</div>";
			}else if(partVal == "LV Bushing"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Bushing</label> \
				<table> \
				<tr> \
				<td><p align=left>LV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_bushing!=0%>
					<%for i in 0..@num_bushing-1 do%>
						<%if @txnams.bushing_lv_manu==@manufacturer_bushing[i].id%>
							<option value='<%=@manufacturer_bushing[i].id%>' selected='true'><%=@manufacturer_bushing[i].manufacturer%></option> \
						<%else%>
							<option value='<%=@manufacturer_bushing[i].id%>'><%=@manufacturer_bushing[i].manufacturer%></option> \
						<%end%>
					<%end%>
				<%end%>
				</select> \
				</p></td> \
				<td>Type &nbsp;&nbsp;<input type='text' name='bushing_lv_type' value='<%=@txnams.bushing_lv_type%>'></td> \
				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='bushing_lv_year' value='<%=@txnams.bushing_lv_year%>'></td> \
				</tr> \
				<tr> \
				<td></td> \
				<td><p align=right>Serial No.</p></td> \
				<td>X0 <input type='text' name='bushing_lv_x0' value='<%=@txnams.bushing_lv_x0%>'></td> \
				<td>X1 <input type='text' name='bushing_lv_x1' value='<%=@txnams.bushing_lv_x1%>'></td> \
				<td>X2 <input type='text' name='bushing_lv_x2' value='<%=@txnams.bushing_lv_x2%>'></td> \
				<td>X3 <input type='text' name='bushing_lv_x3' value='<%=@txnams.bushing_lv_x3%>'></td> \
				</tr> \
				</table> \
				</div>";
			}else if(partVal == "TV Bushing"){
					document.getElementById('replaceinfo').innerHTML = 
					"<div class='grid_15 prefix_1 accessories' > \
					<label>Bushing</label> \
					<table> \
					<tr><td><p align=left>TV</p></td> \
					<td><p align=right>Manufacturer</p></td> \
					<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
					<%if @num_bushing!=0%>
						<%for i in 0..@num_bushing-1 do%>
							<%if @txnams.bushing_tv_manu==@manufacturer_bushing[i].id%>
								<option value='<%=@manufacturer_bushing[i].id%>' selected='true'><%=@manufacturer_bushing[i].manufacturer%></option> \
							<%else%>
								<option value='<%=@manufacturer_bushing[i].id%>'><%=@manufacturer_bushing[i].manufacturer%></option> \
							<%end%>
						<%end%>
					<%end%>
					</select> \
					</p></td> \
   					<td>Type &nbsp;&nbsp;<input type='text' name='bushing_tv_type' value='<%=@txnams.bushing_tv_type%>'></td> \
   					<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='bushing_tv_year' value='<%=@txnams.bushing_tv_year%>'></td> \
					</tr> \
					<tr> \
   					<td></td> \
   					<td><p align=right>Serial No.</p></td> \
   					<td>Y1 <input type='text' name='bushing_tv_y1' value='<%=@txnams.bushing_tv_y1%>'></td> \
   					<td>Y2 <input type='text' name='bushing_tv_y2' value='<%=@txnams.bushing_tv_y2%>'></td> \
   					<td>Y3 <input type='text' name='bushing_tv_y3' value='<%=@txnams.bushing_tv_y3%>'></td> \
   					<td></td> \
					</tr> \
					</table> \
					</div>";
			}else{
				document.getElementById('replaceinfo').innerHTML = "";
			}		
		}else if(groupId == <%=@arresters.id%>){
			if(partVal == "HV Arrester"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Arrester</label> \
				<table> \
				<tr><td><p align=left>HV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_arrester!=0%>
					<%for i in 0..@num_arrester-1 do%>
						<%if @txnams.arrester_hv_manu==@manufacturer_arrester[i].id%>
							<option value='<%=@manufacturer_arrester[i].id%>' selected='true'><%=@manufacturer_arrester[i].manufacturer%></option> \
						<%else%>
							<option value='<%=@manufacturer_arrester[i].id%>'><%=@manufacturer_arrester[i].manufacturer%></option> \
						<%end%>
					<%end%>
				<%end%>
				</select>  \
				</p></td>  \
   				<td>Type &nbsp;&nbsp;<input type='text' name='arrester_hv_type' value='<%=@txnams.arrester_hv_type%>'></td> \
   				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='arrester_hv_year' value='<%=@txnams.arrester_hv_year%>'></td> \
   				<td rowspan=2><table> \
				<%if @txnams.arrester_hv_gapless==0%>
					<tr><td><p align=right>Gap</p></td><td><input checked='checked' id='arrester_hv_gapless_0' name='arrester_hv_gapless' type='radio' value='0'></td></tr> \
       					<tr><td><p align=right>Gapless</p></td><td><input id='arrester_hv_gapless_1' name='arrester_hv_gapless' type='radio' value='1'></td></tr> \
				<%else%>
					<tr><td><p align=right>Gap</p></td><td><input id='arrester_hv_gapless_0' name='arrester_hv_gapless' type='radio' value='0'></td></tr> \
       					<tr><td><p align=right>Gapless</p></td><td><input checked='checked' id='arrester_hv_gapless_1' name='arrester_hv_gapless' type='radio' value='1'></td></tr> \
				<%end%>
				</table> \
   				</td> \
				</tr> \
				<tr> \
   				<td></td> \
   				<td><p align=right>Serial No.</p></td> \
   				<td>H1 <input type='text' name='arrester_hv_h1' value='<%=@txnams.arrester_hv_h1%>'></td> \
   				<td>H2 <input type='text' name='arrester_hv_h2' value='<%=@txnams.arrester_hv_h2%>'></td> \
   				<td>H3 <input type='text' name='arrester_hv_h3' value='<%=@txnams.arrester_hv_h3%>'></td> \
				</tr> \
				</table> \
				</div>";
			}else if(partVal == "LV Arrester"){
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Arrester</label> \
				<table> \
				<tr><td><p align=left>LV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_arrester!=0%>
					<%for i in 0..@num_arrester-1 do%>
						<%if @txnams.arrester_lv_manu==@manufacturer_arrester[i].id%>
							<option value='<%=@manufacturer_arrester[i].id%>' selected='true'><%=@manufacturer_arrester[i].manufacturer%></option> \
						<%else%>
							<option value='<%=@manufacturer_arrester[i].id%>'><%=@manufacturer_arrester[i].manufacturer%></option> \
						<%end%>
					<%end%>
				<%end%>
				</select>  \
				</p></td>  \
   				<td>Type &nbsp;&nbsp;<input type='text' name='arrester_lv_type' value='<%=@txnams.arrester_lv_type%>'></td> \
   				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='arrester_lv_year' value='<%=@txnams.arrester_lv_year%>'></td> \
   				<td rowspan=2><table> \
				<%if @txnams.arrester_lv_gapless==0%>
					<tr><td><p align=right>Gap</p></td><td><input checked='checked' id='arrester_lv_gapless_0' name='arrester_lv_gapless' type='radio' value='0'></td></tr> \
       					<tr><td><p align=right>Gapless</p></td><td><input id='arrester_lv_gapless_1' name='arrester_lv_gapless' type='radio' value='1'></td></tr> \
				<%else%>
					<tr><td><p align=right>Gap</p></td><td><input id='arrester_lv_gapless_0' name='arrester_lv_gapless' type='radio' value='0'></td></tr> \
       					<tr><td><p align=right>Gapless</p></td><td><input checked='checked' id='arrester_lv_gapless_1' name='arrester_lv_gapless' type='radio' value='1'></td></tr> \
				<%end%>
				</table> \
   				</td> \
				</tr> \
				<tr> \
   				<td></td> \
   				<td><p align=right>Serial No.</p></td> \
   				<td>X1 <input type='text' name='arrester_lv_x1' value='<%=@txnams.arrester_lv_x1%>'></td> \
   				<td>X2 <input type='text' name='arrester_lv_x2' value='<%=@txnams.arrester_lv_x2%>'></td> \
   				<td>X3 <input type='text' name='arrester_lv_x3' value='<%=@txnams.arrester_lv_x3%>'></td> \
				</tr> \
				</table> \
				</div>";
			}else{
				document.getElementById('replaceinfo').innerHTML = 
				"<div class='grid_15 prefix_1 accessories' > \
				<label>Arrester</label> \
				<table> \
				<tr><td><p align=left>TV</p></td> \
   				<td><p align=right>Manufacturer</p></td> \
   				<td><p><select id='replace_manufacturer' name='replace_manufacturer'> \
				<%if @num_arrester!=0%>
					<%for i in 0..@num_arrester-1 do%>
						<%if @txnams.arrester_tv_manu==@manufacturer_arrester[i].id%>
							<option value='<%=@manufacturer_arrester[i].id%>' selected='true'><%=@manufacturer_arrester[i].manufacturer%></option> \
						<%else%>
							<option value='<%=@manufacturer_arrester[i].id%>'><%=@manufacturer_arrester[i].manufacturer%></option> \
						<%end%>	
					<%end%>
				<%end%>
				</select>  \
				</p></td>  \
   				<td>Type &nbsp;&nbsp;<input type='text' name='arrester_tv_type' value='<%=@txnams.arrester_tv_type%>'></td> \
   				<td colspan=2>ในปี Nameplate &nbsp;&nbsp;<input type='text' name='arrester_tv_year' value='<%=@txnams.arrester_tv_year%>'></td> \
   				<td rowspan=2><table> \
				<%if @txnams.arrester_tv_gapless==0%>
					<tr><td><p align=right>Gap</p></td><td><input checked='checked' id='arrester_tv_gapless_0' name='arrester_tv_gapless' type='radio' value='0'></td></tr> \
       					<tr><td><p align=right>Gapless</p></td><td><input id='arrester_tv_gapless_1' name='arrester_tv_gapless' type='radio' value='1'></td></tr> \
				<%else%>
					<tr><td><p align=right>Gap</p></td><td><input id='arrester_tv_gapless_0' name='arrester_tv_gapless' type='radio' value='0'></td></tr> \
       					<tr><td><p align=right>Gapless</p></td><td><input checked='checked' id='arrester_tv_gapless_1' name='arrester_tv_gapless' type='radio' value='1'></td></tr> \
				<%end%>
				</table> \
   				</td> \
				</tr> \
				<tr> \
   				<td></td> \
   				<td><p align=right>Serial No.</p></td> \
   				<td>Y1 <input type='text' name='arrester_tv_y1' value='<%=@txnams.arrester_tv_y1%>'></td> \
   				<td>Y2 <input type='text' name='arrester_tv_y2' value='<%=@txnams.arrester_tv_y2%>'></td> \
   				<td>Y3 <input type='text' name='arrester_tv_y3' value='<%=@txnams.arrester_tv_y3%>'></td> \
				</tr> \
				</table> \
				</div>";
			}
		}else{	
			document.getElementById('replaceinfo').innerHTML = "";
		}
	}else{
		document.getElementById('replaceinfo').innerHTML = "";
	}
	Cbox.setupComboxBox('replace_manufacturer');
}

$(function(){
		setValueText1(); 
	});
	
	function setValueText1(){
		$("#downdatetime").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
		$("#updatetime").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
		$("#eventdate").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
	}



/*$(function() {
  PriceLoss.setupTransformerNameComboxBox('station_station');
  Cbox.setupComboxBox('select_manufacturer');
  Cbox.setupComboxBox('voltage');
  Cbox.setupComboxBox('manufacturer_1');
});*/

</script>

<h1>แก้ไขรายงานความผิดปกติหม้อแปลงไฟฟ้า</h1>
<%= form_tag('/transformer_info/update_failurereport', :method=>'post', :multipart => true, :name => 'dynamiccombo') do %>
	<input type=hidden name="tid" value=<%= @tid %>>
	<input type=hidden name="id" value=<%= @failureres.id %>>
<table>
<tr>
    <td>เขต</td>
    <td><%= text_field_tag 'region',@region,:readonly => true%></td>
    <td></td>
</tr>
<tr>
    <td>หม้อแปลงไฟฟ้า</td>
    <td><%= text_field_tag 'txname',@txnams.transformer_name,:readonly => true%></td>

</tr>
<tr>
    <td>Equipement No.</td>
    <td><%= text_field_tag 'egatsn',@txnams.egatsn,:readonly => true%></td>
    <td></td>
</tr>
<tr>
    <td>วันที่เกิดเหตุการณ์</td>
	<%if !@failureres.eventdate.nil?%>
		<%e1=@failureres.eventdate.to_s.split(" ")%>
		<%e2 =e1[0].split("-")%>
		<%eventdates=e2[2]+"/"+e2[1]+"/"+e2[0]%>
	<%end%>
    <td><%= text_field_tag 'eventdate',eventdates%></td>
    <td></td>
</tr>
<tr>
    <td>จำนวนครั้งในการทำงานของ OLTC</td>
    <td><%= text_field_tag 'counterOLTC',@failureres.counterOLTC%></td>
    <td></td>
</tr>
<tr>
	<td>สภาพแวดล้อม</td>
	<%m=0%>
	<%for i in 0..@num_environments-1 do%>
		<%if @failureres.environment==@environments[i].environmnt%>
			<%m=1%>
		<%end%>
	<%end%>
        <td><select id='environment' name='environment'>
	<%if m==1%>
		 <%for i in 0..@num_environments-1 do%>
			<%if @failureres.environment==@environments[i].environmnt%>
				<option value='<%=@environments[i].id%>' selected="true"><%=@environments[i].environmnt%></option>
			<%else%>
				<option value='<%=@environments[i].id%>'><%=@environments[i].environmnt%></option>
			<%end%>
		  <%end%>
		  </select></td><td>อื่นๆ ระบุ <%= text_field_tag :environment_etc%></td>
	<%else%>
		<%for i in 0..@num_environments-1 do%>
			<%if @environments[i].environmnt.split(" ")[0]=="อื่นๆ"%>
				<option value='<%=@environments[i].id%>' selected="true"><%=@environments[i].environmnt%></option>
			<%else%>
				<option value='<%=@environments[i].id%>'><%=@environments[i].environmnt%></option>
			<%end%>
		<%end%>
		</select></td><td>อื่นๆ ระบุ <%= text_field_tag 'environment_etc',@failureres.environment%></td>
	<%end%>
</tr>
<tr>
	<td>สภาวะการใช้งานขณะพบความผิดปกติ</td>
	<%m=0%>
	<%for i in 0..@num_functions-1 do%>
		<%if @failureres.failurestatus==@functions[i].function%>
			<%m=1%>
		<%end%>
	<%end%>
        <td><select id='failurestatus' name='failurestatus'>
	<%if m==1%>
		 <%for i in 0..@num_functions-1 do%>
			<%if @failureres.failurestatus==@functions[i].function%>
				<option value='<%=@functions[i].id%>' selected="true"><%=@functions[i].function%></option>
			<%else%>
				<option value='<%=@functions[i].id%>'><%=@functions[i].function%></option>
			<%end%>
		  <%end%>
		  </select></td><td>อื่นๆ ระบุ <%= text_field_tag :failurestatus_etc%></td>
	<%else%>
		<%for i in 0..@num_functions-1 do%>
			<%if @functions[i].function.split(" ")[0]=="อื่นๆ"%>
				<option value='<%=@functions[i].id%>' selected="true"><%=@functions[i].function%></option>
			<%else%>
				<option value='<%=@functions[i].id%>'><%=@functions[i].function%></option>
			<%end%>
		<%end%>
		</select></td><td>อื่นๆ ระบุ <%= text_field_tag 'failurestatus_etc',@failureres.failurestatus%></td>
	<%end%>
</tr>
<tr>
        <td>รายละเอียดความผิดปกติ</td>
	<%m=0%>
	<%for i in 0..@num_details-1 do%>
		<%if @failureres.failuredetail==@details[i].detail%>
			<%m=1%>
		<%end%>
	<%end%>
        <td><select id='failuredetail' name='failuredetail'>
	<%if m==1%>
		 <%for i in 0..@num_details-1 do%>
			<%if @failureres.failuredetail==@details[i].detail%>
				<option value='<%=@details[i].id%>' selected="true"><%=@details[i].detail%></option>
			<%else%>
				<option value='<%=@details[i].id%>'><%=@details[i].detail%></option>
			<%end%>
		  <%end%>
		  </select></td><td>อื่นๆ ระบุ <%= text_field_tag :failuredetail_etc%></td>
	<%else%>
		<%for i in 0..@num_details-1 do%>
			<%if @details[i].detail.split(" ")[0]=="อื่นๆ"%>
				<option value='<%=@details[i].id%>' selected="true"><%=@details[i].detail%></option>
			<%else%>
				<option value='<%=@details[i].id%>'><%=@details[i].detail%></option>
			<%end%>
		<%end%>
		</select></td><td>อื่นๆ ระบุ <%= text_field_tag 'failuredetail_etc',@failureres.failuredetail%></td>
	<%end%>
</tr>
<tr>
	<td>วันที่ปลดออกจากระบบ</td>
	<%if !@failureres.downdatetime.nil?%>
		<%d1=@failureres.downdatetime.to_s.split(" ")%>
		<%d2 =d1[0].split("-")%>
		<%downdatetimes=d2[2]+"/"+d2[1]+"/"+d2[0]%>
	<%end%>
        <td><%= text_field_tag 'downdatetime',downdatetimes%></td>
	<td></td>
</tr>
<tr>
        <td>เวลาที่ปลดออกจากระบบ</td>
	<%if !@failureres.downdatetime.nil?%>
		<%d1=@failureres.downdatetime.to_s.split(" ")%>
		<%d2 =d1[1].split(":")%>
	<%end%>
        <td><select id='downtimehour' name='downtimehour'>
		<%if !@failureres.downdatetime.nil?%>
			<%for i in 0..23 do%>
				<%if d2[0].to_i==i%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' selected="true"><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' selected="true"><%=i.to_s%></option>
					<%end%>
				<%else%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' ><%=i.to_s%></option>
					<%end%>
				<%end%>
			<%end%>
		<%else%>
			<%for i in 0..23 do%>
				<%if i<10%>
					<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
				<%else%>
					<option value='<%=i.to_s%>' ><%=i.to_s%></option>
				<%end%>
			<%end%>
		<%end%>
	</select></td>
	<td><select id='downtimeminute' name='downtimeminute'>
		<%if !@failureres.downdatetime.nil?%>
			<%for i in 0..59 do%>
				<%if d2[1].to_i==i%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' selected="true"><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' selected="true"><%=i.to_s%></option>
					<%end%>
				<%else%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' ><%=i.to_s%></option>
					<%end%>
				<%end%>
			<%end%>
		<%else%>
			<%for i in 0..59 do%>
				<%if i<10%>
					<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
				<%else%>
					<option value='<%=i.to_s%>' ><%=i.to_s%></option>
				<%end%>
			<%end%>
		<%end%>
	</select></td>
</tr>
<tr>
	<td>วันที่นำเข้าระบบ</td>
	<%if !@failureres.updatetime.nil?%>
		<%u1=@failureres.updatetime.to_s.split(" ")%>
		<%u2 =u1[0].split("-")%>
		<%updatetimes=u2[2]+"/"+u2[1]+"/"+u2[0]%>
	<%end%>
        <td><%= text_field_tag 'updatetime',updatetimes%></td>
	<td></td>
</tr>
<tr>
	<td>เวลาที่นำเข้าระบบ</td>
	<%if !@failureres.updatetime.nil?%>
		<%u1=@failureres.updatetime.to_s.split(" ")%>
		<%u2 =u1[1].split(":")%>
	<%end%>
        <td><select id='uptimehour' name='uptimehour'>
		<%if !@failureres.updatetime.nil?%>
			<%for i in 0..23 do%>
				<%if u2[0].to_i==i%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' selected="true"><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' selected="true"><%=i.to_s%></option>
					<%end%>
				<%else%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' ><%=i.to_s%></option>
					<%end%>
				<%end%>
			<%end%>
		<%else%>
			<%for i in 0..23 do%>
				<%if i<10%>
					<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
				<%else%>
					<option value='<%=i.to_s%>' ><%=i.to_s%></option>
				<%end%>
			<%end%>
		<%end%>
	</select></td>
	<td><select id='uptimeminute' name='uptimeminute'>
		<%if !@failureres.updatetime.nil?%>
			<%for i in 0..59 do%>
				<%if u2[1].to_i==i%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' selected="true"><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' selected="true"><%=i.to_s%></option>
					<%end%>
				<%else%>
					<%if i<10%>
						<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
					<%else%>
						<option value='<%=i.to_s%>' ><%=i.to_s%></option>
					<%end%>
				<%end%>
			<%end%>
		<%else%>
			<%for i in 0..59 do%>
				<%if i<10%>
					<option value='<%='0'+i.to_s%>' ><%='0'+i.to_s%></option>
				<%else%>
					<option value='<%=i.to_s%>' ><%=i.to_s%></option>
				<%end%>
			<%end%>
		<%end%>
	</select></td>
</tr>
<tr>
	<td>เลขคำสั่งปฏิบัติงาน</td>
        <td><%= text_field_tag 'workorder',@failureres.workorder%></td>
	<td></td>
</tr>
<tr>
        <td>กลุ่มชิ้นส่วนที่เสียหายหรือผิดปกติ</td>
        <td><select id='failuregroup' name='failuregroup'>
		<option value=''></option>
		  <%for i in 0..@num_groups-1 do%>
			<%if @failureres.failuregroup==@groups[i].groupname%>
				<option value='<%=@groups[i].id%>' selected="true"><%=@groups[i].groupname%></option>
				<%a=i%>
			<%else%>
				<option value='<%=@groups[i].id%>'><%=@groups[i].groupname%></option>
			<%end%>
		  <%end%>
	    </select></td><td></td>
</tr>
<tr>
        <td>ชิ้นส่วนที่เสียหายหรือผิดปกติ</td>
        <td><select id='failurepart' name = 'failurepart'>
		<option value=""></option>
	<%if !a.nil?%>
		<%if @groups[a].groupname.split(" ")[0]!="อื่นๆ"%>
		  <%for i in 0..@num_parts[a]-1 do%>
			<%if @failureres.failurepart==@parts[a][i].part%>
				<option value='<%=@parts[a][i].part%>' selected="true"><%=@parts[a][i].part%></option>
			<%else%>
				<option value='<%=@parts[a][i].part%>'><%=@parts[a][i].part%></option>
			<%end%>
		  <%end%>
		<%else%>
			<%str = @failureres.failurepart%>
		<%end%>
	<%end%>
	</select></td><td>อื่นๆ ระบุ <%= text_field_tag 'failuredetail_etc',str%></td>
</tr>
<tr>
	<td>ระดับความเสียหาย</td>
        <td><select id='failuremode' name='failuremode'>
		<option value=''></option>
		  <%for i in 0..@num_mode-1 do%>
			<%if @failureres.failuremode==@mode[i].mode%>
				<option value='<%=@mode[i].mode%>' selected="true"><%=@mode[i].mode%></option>
			<%else%>
				<option value='<%=@mode[i].mode%>'><%=@mode[i].mode%></option>
			<%end%>
		  <%end%>
	</select></td><td></td>
</tr>
<tr>
        <td>สาเหตุที่แท้จริง</td>
	<%m=0%>
	<%for i in 0..@num_reason-1 do%>
		<%if @failureres.failurereason==@reason[i].reason%>
			<%m=1%>
		<%end%>
	<%end%>
        <td><select id='failurereason' name='failurereason'>
	<%if m==1%>
		 <%for i in 0..@num_reason-1 do%>
			<%if @failureres.failurereason==@reason[i].reason%>
				<option value='<%=@reason[i].id%>' selected="true"><%=@reason[i].reason%></option>
			<%else%>
				<option value='<%=@reason[i].id%>'><%=@reason[i].reason%></option>
			<%end%>
		  <%end%>
		  </select></td><td>อื่นๆ ระบุ <%= text_field_tag :failurereason_etc%></td>
	<%else%>
		<%for i in 0..@num_reason-1 do%>
			<%if @reason[i].reason.split(" ")[0]=="อื่นๆ"%>
				<option value='<%=@reason[i].id%>' selected="true"><%=@reason[i].reason%></option>
			<%else%>
				<option value='<%=@reason[i].id%>'><%=@reason[i].reason%></option>
			<%end%>
		<%end%>
		</select></td><td>อื่นๆ ระบุ <%= text_field_tag 'failurereason_etc',@failureres.failurereason%></td>
	<%end%>
</tr>
<tr>
        <td>การจัดการ</td>
	<%m=0%>
	<%for i in 0..@num_manage-1 do%>
		<%if @failureres.manage==@manage[i].manage%>
			<%m=1%>
		<%end%>
	<%end%>
        <td><select id='manage' name='manage'>
	<%if m==1%>
		 <%for i in 0..@num_manage-1 do%>
			<%if @failureres.manage==@manage[i].manage%>
				<option value='<%=@manage[i].id%>' selected="true"><%=@manage[i].manage%></option>
			<%else%>
				<option value='<%=@manage[i].id%>'><%=@manage[i].manage%></option>
			<%end%>
		  <%end%>
		  </select></td><td>อื่นๆ ระบุ <%= text_field_tag :manage_etc%></td>
	<%else%>
		<%for i in 0..@num_manage-1 do%>
			<%if @manage[i].manage.split(" ")[0]=="อื่นๆ"%>
				<option value='<%=@manage[i].id%>' selected="true"><%=@manage[i].manage%></option>
			<%else%>
				<option value='<%=@manage[i].id%>'><%=@manage[i].manage%></option>
			<%end%>
		<%end%>
		</select></td><td>อื่นๆ ระบุ <%= text_field_tag 'manage_etc',@failureres.manage%></td>
	<%end%>
</tr>
<tr><td colspan=3><div id='replaceinfo'></div></td></tr>
<tr>
        <td>รายละเอียดเพิ่มเติม (Remark)</td>
        <td><%= text_field_tag 'remark',@failureres.remark%></td><td></td>
</tr>
<tr>
        <td>ผู้รายงาน</td>
        <td><%= text_field_tag 'user',@failureres.user%></td><td></td>
</tr>
<tr>
	<td colspan=3><center><%= submit_tag "Save", :class => "cupid-green" %></center></td>
</tr>
</table>
<%end%>
