<h1>เพิ่มหม้อแปลงไฟฟ้า</h1>
<%= form_tag @txinfo ,:url => {:action => "txadd"}, :html => {:method => "post", :name => 'txadd'} do |f| %>
<div class='grid_10 prefix_2 chemicals' >
      <p>
        <%= label_tag :egatsn, "Equipement No.", :class => 'inline' %>
        <%= text_field_tag :egatsn%>
      </p>
      <p>
        <%= label_tag :contract, "สัญญาเลขที่", :class => 'inline' %>
        <%= text_field_tag :contract%>
      </p>
      <p>
        <%= label_tag :station, "สถานีไฟฟ้า", :class => 'inline' %>
        <%= select_tag "station", options_from_collection_for_select(@stations, "name", "name") %>
      </p>
      <p>
        <%= label_tag :tx_name, "ชื่อหม้อแปลงไฟฟ้า", :class => 'inline' %>
        <%= text_field_tag :tx_name%>
      </p>
      <p>
        <%= label_tag :brand_id, "ชื่อบริษัทผู้ผลิต", :class => 'inline' %>
        <%= select_tag "brand_id", options_from_collection_for_select(@brand_ids, "id", "name") %>
      </p>
      <p>
        <%= label_tag :manufacturingserial, "หมายเลขผู้ผลิต", :class => 'inline' %>
        <%= text_field_tag :manufacturingserial%>
      </p>

      <p>
        <%= label_tag :phase, "จำนวนเฟส", :class => 'inline' %>
        <select id='phase' name='phase'>
            <option value='1'>1</option>
            <option value='3'>3</option>
        </select>
      </p>
      <p>
        <%= label_tag :phase_position, "ตำแหน่งเฟส", :class => 'inline' %>
        <select id='phase_position' name='phase_position'>
            <option value='A'>A</option>
            <option value='B'>B</option>
            <option value='C'>C</option>
        </select>
      </p>
      <p>
        <%= label_tag :maxcapacity, "พิกัดกำลังไฟฟ้าสูงสุด (MVA)", :class => 'inline' %>
        <%= text_field_tag :maxcapacity%>
      </p>
      <p>
        <%= label_tag :hv, "พิกัดแรงดันไฟฟ้า Primary, HV (kV)", :class => 'inline' %>
        <%= text_field_tag :hv%>
      </p>
      <p>
        <%= label_tag :lv, "พิกัดแรงดันไฟฟ้า Secondary, LV (kV)", :class => 'inline' %>
        <%= text_field_tag :hv%>
      </p>
      <p>
        <%= label_tag :lv, "พิกัดแรงดันไฟฟ้า Tertiary, TV (kV)", :class => 'inline' %>
        <%= text_field_tag :tv%>
      </p>
      <p>
        <%= label_tag :first_energize, "วันที่นำเข้าใช้งาน", :class => 'inline' %>
        <%= text_field_tag :first_energize%>
      </p>
      <p>
        <%= label_tag :winding_type, "ชนิด Winding Insulation", :class => 'inline' %>
        <%= select_tag "winding_type", options_from_collection_for_select(@winding_types, "id", "description") %>
      </p>
      <p>
        <%= label_tag :vector_group, "Vector Group", :class => 'inline' %>
        <%= text_field_tag :vector_group%>
      </p>
       <p>
        <%= label_tag :status, "ลักษณะการใช้งานหม้อแปลงไฟฟ้า", :class => 'inline' %>
        <%= select_tag "status", options_from_collection_for_select(@power_usages, "id", "usage") %>
      </p>
       <p>
        <%= label_tag :remark, "รายละเอียดเพิ่มเติม (Remark)", :class => 'inline' %>
        <%= text_field_tag :remark %>
      </p>
       <p>
        <%= label_tag :image, "ชื่อไฟล์รูปภาพที่ต้องการเก็บ", :class => 'inline' %>
        <%= file_field_tag 'image', :accept => 'image/png,image/jpef,image/gif' %>
      </p>

</div>
<div class='grid_16' >&nbsp;</div>
<div class='grid_16' >&nbsp;</div>
<div class='grid_16 chemicals' >
<h3>Accessories</h3>
</div>
<div class='grid_15 prefix_1 accessories' >
<label>Bushing</label>
<table>
<tr>
   <td><p align=left>HV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>H0 <input type="text"></td>
   <td>H1 <input type="text"></td>
   <td>H2 <input type="text"></td>
   <td>H3 <input type="text"></td>
</tr>
<tr>
   <td><p align=left>LV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>X0 <input type="text"></td>
   <td>X1 <input type="text"></td>
   <td>X2 <input type="text"></td>
   <td>X3 <input type="text"></td>
</tr>
<tr>
   <td><p align=left>TV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>Y1 <input type="text"></td>
   <td>Y2 <input type="text"></td>
   <td>Y3 <input type="text"></td>
   <td></td>
</tr>
</table>
</div>

<div class='grid_16' >&nbsp;</div>

<div class='grid_15 prefix_1 accessories' >
<label>Arrester</label>
<table>
<tr>
   <td><p align=left>HV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
   <td rowspan=2><table>
		<tr><td><p align=right>Gap</p></td><td><%= radio_button_tag 'hv_gap', '1', true %></td></tr>
       		<tr><td><p align=right>Gapless</p></td><td><%= radio_button_tag 'hv_gap', '0' %></td></tr>
		</table>
   </td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>H0 <input type="text"></td>
   <td>H1 <input type="text"></td>
   <td>H2 <input type="text"></td>
   <td>H3 <input type="text"></td>
</tr>
<tr>
   <td><p align=left>LV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
   <td rowspan=2><table>
		<tr><td><p align=right>Gap</p></td><td><%= radio_button_tag 'lv_gap', '1', true %></td></tr>
       		<tr><td><p align=right>Gapless</p></td><td><%= radio_button_tag 'lv_gap', '0' %></td></tr>
		</table>
   </td>

</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>X0 <input type="text"></td>
   <td>X1 <input type="text"></td>
   <td>X2 <input type="text"></td>
   <td>X3 <input type="text"></td>
</tr>
<tr>
   <td><p align=left>TV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
   <td rowspan=2><table>
		<tr><td><p align=right>Gap</p></td><td><%= radio_button_tag 'tv_gap', '1', true %></td></tr>
       		<tr><td><p align=right>Gapless</p></td><td><%= radio_button_tag 'tv_gap', '0' %></td></tr>
		</table>
   </td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>Y1 <input type="text"></td>
   <td>Y2 <input type="text"></td>
   <td>Y3 <input type="text"></td>
   <td></td>
</tr>
</table>
</div>

<div class='grid_16' >&nbsp;</div>

<div class='grid_15 prefix_1 accessories' >
<label>OLTC</label>
<table>
<tr>
   <td></td>
   <td><p align=right>Maufacturer</p></td>
   <td><input type="text"></td>
   <td>Type &nbsp;&nbsp;<input type="text"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text"></td>
</tr>
</table>
</div>

<div class='grid_10 prefix_5'>
<%= submit_tag "Save", :class => "cupid-green" %>
</div>

<%end%>
