<script>
	$(function(){
		setValueText1(); 
	});
	
	function setValueText1(){
		$("#first_energize").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
	}

</script>

<h1>เพิ่มหม้อแปลงไฟฟ้า</h1>
<%= form_tag('/transformer_info/txcreate', :method=>'post', :multipart => true, :name => 'transfor_name1') do %>
<div class='grid_10 prefix_2 chemicals' >
      <p>
        <%= label_tag :egatsn, "Equipement No.", :class => 'inline' %>
        <%= text_field_tag :egatsn%>
      </p>
      <p>
        <%= label_tag :contract, "สัญญาเลขที่", :class => 'inline' %>
        <%= text_field_tag :contract%>
      </p>
      <p>
        <%= label_tag :station, "สถานีไฟฟ้า", :class => 'inline' %>
        <%= select_tag "station", options_from_collection_for_select(@stations, "name", "name") %>
      </p>
      <p>
        <%= label_tag :tx_name, "ชื่อหม้อแปลงไฟฟ้า", :class => 'inline' %>
        <%= text_field_tag :tx_name%>
      </p>
      <p>
        <%= label_tag :brand_id, "ชื่อบริษัทผู้ผลิต", :class => 'inline' %>
        <%= select_tag "brand_id", options_from_collection_for_select(@brand_ids, "id", "name") %>
      </p>
      <p>
        <%= label_tag :manufacturingserial, "หมายเลขผู้ผลิต", :class => 'inline' %>
        <%= text_field_tag :manufacturingserial%>
      </p>

      <p>
        <%= label_tag :phase, "จำนวนเฟส", :class => 'inline' %>
        <select id='phase' name='phase'>
            <option value='1'>1</option>
            <option value='3'>3</option>
        </select>
      </p>
      <p>
        <%= label_tag :phase_position, "ตำแหน่งเฟส", :class => 'inline' %>
        <select id='phase_position' name='phase_position'>
	<option value='A'>A</option>
	<option value='B'>B</option>
	<option value='C'>C</option>
        </select>
      </p>
      <p>
        <%= label_tag :maxcapacity, "พิกัดกำลังไฟฟ้าสูงสุด (MVA)", :class => 'inline' %>
        <%= text_field_tag :maxcapacity%>
      </p>
      <p>
        <%= label_tag :hv, "พิกัดแรงดันไฟฟ้า Primary, HV (kV)", :class => 'inline' %>
        <%= text_field_tag :hv%>
      </p>
      <p>
        <%= label_tag :lv, "พิกัดแรงดันไฟฟ้า Secondary, LV (kV)", :class => 'inline' %>
        <%= text_field_tag :lv%>
      </p>
      <p>
        <%= label_tag :lv, "พิกัดแรงดันไฟฟ้า Tertiary, TV (kV)", :class => 'inline' %>
        <%= text_field_tag :tv%>
      </p>
      <p>
        <%= label_tag :first_energize, "วันที่นำเข้าใช้งาน", :class => 'inline' %>
        <%= text_field_tag :first_energize%>
      </p>
      <p>
        <%= label_tag :winding_type, "ชนิด Winding Insulation", :class => 'inline' %>
        <%= select_tag "winding_type", options_from_collection_for_select(@winding_types, "id", "description") %>
      </p>
      <p>
        <%= label_tag :vector_group, "Vector Group", :class => 'inline' %>
        <%= text_field_tag :vector_group%>
      </p>
       <p>
        <%= label_tag :status, "ลักษณะการใช้งานหม้อแปลงไฟฟ้า", :class => 'inline' %>
        <%= select_tag "status", options_from_collection_for_select(@power_usages, "id", "usage") %>
      </p>
       <p>
        <%= label_tag :remark, "รายละเอียดเพิ่มเติม (Remark)", :class => 'inline' %>
        <%= text_field_tag :detail %>
      </p>
       <p>
        <%= label_tag :image, "ชื่อไฟล์รูปภาพที่ต้องการเก็บ", :class => 'inline' %>
        <%= file_field_tag 'image', :accept => 'image/png,image/jpeg,image/gif' %>
      </p>

</div>
<div class='grid_16' >&nbsp;</div>
<div class='grid_16' >&nbsp;</div>
<div class='grid_16 chemicals' >
<h3>Accessories</h3>
</div>
<div class='grid_15 prefix_1 accessories' >
<label>Bushing</label>
<table>
<tr>
   <td><p align=left>HV</p></td>
   <td><p align=right>Maufacturer</p></td>

	
   <td><p><%= select_tag "bushing_hv_manu", options_from_collection_for_select(@manufacturer_bushing, "id", "manufacturer") %></p></td>


   <td>Type &nbsp;&nbsp;<input type="text" name="bushing_hv_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="bushing_hv_year"></td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>H0 <input type="text" name="bushing_hv_h0"></td>
   <td>H1 <input type="text" name="bushing_hv_h1"></td>
   <td>H2 <input type="text" name="bushing_hv_h2"></td>
   <td>H3 <input type="text" name="bushing_hv_h3"></td>
</tr>
<tr>
   <td><p align=left>LV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><p><%= select_tag "bushing_lv_manu", options_from_collection_for_select(@manufacturer_bushing, "id", "manufacturer") %></p></td>
   <td>Type &nbsp;&nbsp;<input type="text" name="bushing_lv_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="bushing_lv_year"></td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>X0 <input type="text" name="bushing_lv_x0"></td>
   <td>X1 <input type="text" name="bushing_lv_x1"></td>
   <td>X2 <input type="text" name="bushing_lv_x2"></td>
   <td>X3 <input type="text" name="bushing_lv_x3"></td>
</tr>
<tr>
   <td><p align=left>TV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><p><%= select_tag "bushing_tv_manu", options_from_collection_for_select(@manufacturer_bushing, "id", "manufacturer") %></p></td>
   <td>Type &nbsp;&nbsp;<input type="text" name="bushing_tv_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="bushing_tv_year"></td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>Y1 <input type="text" name="bushing_tv_y1"></td>
   <td>Y2 <input type="text" name="bushing_tv_y2"></td>
   <td>Y3 <input type="text" name="bushing_tv_y3"></td>
   <td></td>
</tr>
</table>
</div>

<div class='grid_16' >&nbsp;</div>

<div class='grid_15 prefix_1 accessories' >
<label>Arrester</label>
<table>
<tr>
   <td><p align=left>HV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><p><%= select_tag "arrester_hv_manu", options_from_collection_for_select(@manufacturer_arrester, "id", "manufacturer") %></p></td>
   <td>Type &nbsp;&nbsp;<input type="text" name="arrester_hv_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="arrester_hv_year"></td>
   <td rowspan=2><table>
		<tr><td><p align=right>Gap</p></td><td><%= radio_button_tag 'arrester_hv_gapless', '0', true %></td></tr>
       		<tr><td><p align=right>Gapless</p></td><td><%= radio_button_tag 'arrester_hv_gapless', '1' %></td></tr>
		</table>
   </td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>H1 <input type="text" name="arrester_hv_h1"></td>
   <td>H2 <input type="text" name="arrester_hv_h2"></td>
   <td>H3 <input type="text" name="arrester_hv_h3"></td>
</tr>
<tr>
   <td><p align=left>LV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><p><%= select_tag "arrester_lv_manu", options_from_collection_for_select(@manufacturer_arrester, "id", "manufacturer") %></p></td>
   <td>Type &nbsp;&nbsp;<input type="text" name="arrester_lv_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="arrester_lv_year"></td>
   <td rowspan=2><table>
		<tr><td><p align=right>Gap</p></td><td><%= radio_button_tag 'arrester_lv_gapless', '0', true %></td></tr>
       		<tr><td><p align=right>Gapless</p></td><td><%= radio_button_tag 'arrester_lv_gapless', '1' %></td></tr>
		</table>
   </td>

</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>X1 <input type="text" name="arrester_lv_x1"></td>
   <td>X2 <input type="text" name="arrester_lv_x2"></td>
   <td>X3 <input type="text" name="arrester_lv_x3"></td>
</tr>
<tr>
   <td><p align=left>TV</p></td>
   <td><p align=right>Maufacturer</p></td>
   <td><p><%= select_tag "arrester_tv_manu", options_from_collection_for_select(@manufacturer_arrester, "id", "manufacturer") %></p></td>
   <td>Type &nbsp;&nbsp;<input type="text" name="arrester_tv_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="arrester_tv_year"></td>
   <td rowspan=2><table>
		<tr><td><p align=right>Gap</p></td><td><%= radio_button_tag 'arrester_tv_gapless', '0', true %></td></tr>
       		<tr><td><p align=right>Gapless</p></td><td><%= radio_button_tag 'arrester_tv_gapless', '1' %></td></tr>
		</table>
   </td>
</tr>
<tr>
   <td></td>
   <td><p align=right>Serial No.</p></td>
   <td>Y1 <input type="text" name="arrester_tv_y1"></td>
   <td>Y2 <input type="text" name="arrester_tv_y2"></td>
   <td>Y3 <input type="text" name="arrester_tv_y3"></td>
   <td></td>
</tr>
</table>
</div>

<div class='grid_16' >&nbsp;</div>

<div class='grid_15 prefix_1 accessories' >
<label>OLTC</label>
<table>
<tr>
   <td></td>
   <td><p align=right>Maufacturer</p></td>
   <td><p><%= select_tag "oltc_manufacturer", options_from_collection_for_select(@manufacturer_oltc, "id", "manufacturer") %></p></td>
   <td>Type &nbsp;&nbsp;<input type="text" name="oltc_type"></td>
   <td colspan=2>ปีใน Nameplate &nbsp;&nbsp;<input type="text" name="oltc_year"></td>
</tr>
</table>
</div>

<div class='grid_10 prefix_5'>
<%= submit_tag "Save", :class => "cupid-green" %>
</div>

<%end%>
