<h1>หม้อแปลงไฟฟ้า</h1>
<%= form_for :station do |f| -%>
<div class='grid_4 prefix_5'>
<p>
  <%= f.label :station, "เขต" , :class => 'inlinetitle' %>
  <%=
      @stations = Station.select("region").group("region").all
      f.collection_select(:station, @stations, :region, :region, 
                          {:prompt => 'All', :selected => params[:region]})
  %>
</p>
</div>
<div class='prefix_2 grid_3'>
<p>
<%if @userid.priv5==1%>
  <%= link_to("เพิ่มหม้อแปลงไฟฟ้า", "/transformer_info/txadd", :class => 'add') %>
<%end%>
</p>
</div>
<% end %>
<p><div class='grid_16'>&nbsp;</div></p>
<p>
<div id="transformers" class="grid_14 prefix_1">
  <table id="transformers_table">
    <thead>
      <tr>
      <th>หม้อแปลงไฟฟ้า</th>
      <th>Equipment No.</th>
      <th>บริษัทผู้ผลิต</th>
      <th>พิกัดกำลังไฟฟ้าสูงสุด (MVA)</th>
	  <%if @userid.priv5==1%>
      <th width=160></th>
	  <%end%>
      </tr>
    </thead>
    <tbody>
      <% if !@txinfos.blank? %>
        <% for txinfo in @txinfos %>
	<tr>
            <td><%=link_to txinfo.transformer_name, {:controller => "transformer_info", :action => "show_image",:id =>txinfo.id}%></td>
            <td><%= txinfo.egatsn %></td>
            <td><%= txinfo.brand.name %></td>
            <td><%= txinfo.maxcapacity %> </td>
			<%if @userid.priv5==1%>
            <td><%=link_to "Edit", {:controller => "transformer_info", :action => "modify_transformer",:id =>txinfo.id}, :class => 'edit'%> &nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to("Delete", {:controller => "transformer_info", :action => "delete_transformer",:id =>txinfo.id}, :confirm => 'ยืนยันการลบข้อมูล', :class => 'delete') %> </td>
			<%end%>
	</tr>
	<%end%>
      <%end%>
    </tbody>
   </table>
  <%= will_paginate @txinfos %>
</div>
</p>
