<%initquatity=@icoilinit.InitQuantity%>
<p><table border=1>
		<tr><th><center>Date</center></th><th><center>ปริมาณน้ำมันในคลัง [ถัง]</center></th><th><center>เบิกจ่าย [ถัง]</center></th><th><center>ซื้อเพิ่ม [ถัง]</center></th></tr>
	
             <% if !@icoilbalance.blank? %>
        	<% for ic in @icoilbalance %>
		    <%if ic.Quantity >=0%>
			<%if ic.Quantitypass !=nil%>
				<%m=icoildate=ic.Recv_date.to_s.split('-')%>
				<%initquatity+=ic.Quantitypass%>
				<tr><td><center><%=m[2]+"/"+m[1]+"/"+m[0]%></center></td><td><center><%=initquatity%></center></td><td><center>-</center></td><td><center><%=ic.Quantitypass%></center></td></tr>
			<%end%>
		    <%else%>
			<%icoildate=ic.Date.to_s%>
		    	<%m=icoildate.split('-')%>
			<%initquatity+=ic.Quantity%>
			<tr><td><center><%=m[2]+"/"+m[1]+"/"+m[0]%></center></td><td><center><%=initquatity%></center></td><td><center><%= -1*ic.Quantity%></center></td><td><center>-</center></td></tr>
		    <%end%>
	          <%end%>
               <%end%>
         
</table>
<%= will_paginate @icoilbalance %>

</p>
