<script>
	$(function(){
		setValueText(); 
	});
	
	function setValueText(){
		$("#valuetext").datepicker({
                     dateFormat: 'dd/mm/yy',
		     showOn : "button",
                     buttonImage: "/images/icon_calendar.gif",
		     buttonImageOnly : true
                });
	}
</script>
<p><h2>เพิ่มรายการเบิกจ่ายน้ำมัน</h2></p>

<p>
<%= form_for @icoilbalance ,:url => {:action => "create_withdraw"}, :html => {:method => "post", :name => 'icoilbalance'} do |f| %>
	<table>
	  <tr><td><%= f.label :Date, "วันที่เบิกน้ำมันไปใช้งาน", :class => 'inline' %></td><td><input id="valuetext" type="text" name="Date" size="15" /></td></tr>
	  <tr><td><%= f.label :Quantity, "ปริมาณการเบิกต่อครั้ง [ถัง]", :class => 'inline' %></td><td><%= f.text_field :Quantity, :size => 15%></td></tr>
	  <tr><td><%= f.submit "Save", :class => "cupid-green" %></td><td></td></tr>
	</table>
<%end%>
</p>
