<%y_1=50%>
<%y_2=100%>
<%date='2008-1-1'%>
  
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.css" ></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/examples.css" ></script>
  
<script language="javascript" type="text/javascript" src="/javascripts/excanvas.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.highlighter.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.canvasAxisTickRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.canvasTextRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jqplot.canvasOverlay.js"></script>
<script  language="javascript" type="text/javascript" src="/javascripts/jqplot.dateAxisRenderer.min.js"></script>

<script>
$(document).ready(function(){
  var line_1=[['<%=@icoilinit.Date%>',<%=@icoilinit.InitQuantity%>]
	     <%if @num1!=0%>
		<%for i in @countnum..@num1-1 do%>
		  <%if i==@num1-1 || @mostRecent==@HistoricalData[i].Date.year.to_i%>
			<%break%>
		  <%else%>
			,
		  <%end%>
		  <%if @HistoricalData[i].Quantity<0%>
			<%@NumberOfCylinders+=@HistoricalData[i].Quantity%>
			['<%=@HistoricalData[i].Date%>',<%=@NumberOfCylinders%>]
		  <%else%>
			<%if @HistoricalData[i].Quantitypass!=nil%>
				<%@NumberOfCylinders+=@HistoricalData[i].Quantitypass%>
				['<%=@HistoricalData[i].Recv_date%>',<%=@NumberOfCylinders%>]
			<%end%>
		  <%end%>
	      <%end%>
	    <%end%>];
  plot6 = $.jqplot('chart6',[line_1], {
    axes: {
	  xaxis: {
			renderer:$.jqplot.DateAxisRenderer,          
			tickOptions:{ formatString:'%d/%m/%y'} ,
			min:'Jan 1,  <%=@mostRecent-2%>',
			tickInterval:'2 month'
	  },
      yaxis: {
        rendererOptions: { forceTickAt0: true, forceTickAt100: true },
		min: 0
      }
    },
    highlighter: {show: true,tooltipAxes: 'x',sizeAdjust: 7.5},
    canvasOverlay: {
      show: true,
      objects: [
        {dashedHorizontalLine: {
          name: 'pebbles',
          y: <%=@oilcalculate.Y3.to_i%>,
          lineWidth: 3,
          color: 'rgb(100, 55, 124)',
          shadow: true,
          lineCap: 'round',
		  xOffset: '10'
        }},
        {dashedHorizontalLine: {
          name: 'bam-bam',
          y: <%=@oilcalculate.Y1.to_i%>,
          lineWidth: 3,
          lineCap: 'round',
          xOffset: '10',
          color: 'rgb(66, 98, 144)',
          shadow: false
        }}
      ]
    }
  });
});
</script>
<%if @updateprice.nil?%>
<p><b><center>กรุณากรอกราคาน้ำมันของปีเบิกจ่ายที่ผ่านมา</b><br>(เพื่อคำนวณพารามิเตอร์ต่างๆ)<br><%=link_to "คลิกเพื่อกรอกข้อมูล",:controller => "ic_oil",:action => "fill_price"%></center></p>
<%end%>
<p><h2>ปริมาณน้ำมันคงเหลือ <%=@Quantity_1%> ลิตร</h2></p>
<p><b>Action
	<%for i in 0..12 do%>
	&nbsp
	<%end%>
เบิกใช้ได้ตามปกติ</b></p>
<p><b><%for i in 0..50 do%>
	&nbsp
	<%end%>
ปริมาณน้ำมัน</b></p>
<p>
<div id="chart6" style="height:300px; width:600px;margin: 30px;"></div>
</p>
