<p><h2>รายการสั่งซื้อน้ำมัน</h2></p>

<p><center>
<table border=1>
<tr><th><center>วันที่สั่งซื้อ</center></th><th><center>ปริมาณสั่งซื้อ [ถัง]</center></th><th><center>ราคาต่อลิตร [บาท]</center></th><th><center>วันที่ได้รับ</center></th><th><center>ปริมาณที่ผ่านการทดสอบ [ถัง]</center></th><th><center>แก้ไข</center></th><th><center>ลบ</center></th></tr>
<%if @num!=0%>
	<% for i in 0..@num-1 do%>
		<%if @icoilbalance[i].Quantity >= 0%>
			<%m=@icoilbalance[i].Date.to_s.split('-')%>
			<%if @icoilbalance[i].Recv_date!=nil && @icoilbalance[i].Quantitypass!=nil%>
				<%n=@icoilbalance[i].Recv_date.to_s.split('-')%>
				<tr><td><center><%=m[2]+"/"+m[1]+"/"+m[0]%></center></td><td><center><%=@icoilbalance[i].Quantity%></center></td><td><center><%=@icoilbalance[i].Price%></center></td><td><center><%=n[2]+"/"+n[1]+"/"+n[0]%></center></td><td><center><%=@icoilbalance[i].Quantitypass%></center></td><td><center><%=link_to "แก้ไข",:controller => "ic_oil",:action => "modify_buy",:id =>@icoilbalance[i].id%></center></td><td><center><%=link_to "ลบ",:controller => "ic_oil",:action => "delete_buy",:id =>@icoilbalance[i].id%></center></td></tr>
			<%else%>
				<tr><td><center><%=m[2]+"/"+m[1]+"/"+m[0]%></center></td><td><center><%=@icoilbalance[i].Quantity%></center></td><td><center><%=@icoilbalance[i].Price%></center></td><td><center>-</center></td><td><center>-</center></td><td><center><%=link_to "แก้ไข",:controller => "ic_oil",:action => "modify_buy",:id =>@icoilbalance[i].id%></center></td><td><center><%=link_to "ลบ",:controller => "ic_oil",:action => "delete_buy",:id =>@icoilbalance[i].id%></center></td></tr>
			<%end%>
		<%end%>
	<%end%>
<%end%>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
</center>
<p>
<h6><img src = "/images/group-expand.gif">&nbsp<%=link_to "เพิ่มรายการใหม่",:controller => "ic_oil",:action => "new_buy"%></h6>
</p>
</p>
