<center><img src="/images/s_egat.gif" width=100 height=100></center>
<p><center><b><font size=1>รายงานการวิเคราะห์ค่าใช้จ่ายในการซ่อม/ซื้อหม้อแปลงในเชิงเศรษฐศาสตร์</font></b></center></p>

<center>

<table bgcolor=#000000" cellpadding=1 width=95% border=0>
<tr><td>
<center>
   <table border=0 bgcolor=#FFFFFF width=100%>
   <tr>
      <td><font size=1>Transformer Name</font></td>
      <td><font size=1>: <%= @transformer[:transformer_name] %></font></td>
      <td><font size=1>OLTC Type</font></td>
      <td><font size=1>: <%= @transformer[:oltc_type] %></font></td>
   </tr>
   <tr>
      <td><font size=1>Equipement No.</font></td>
      <td><font size=1>: <%= @transformer[:egatsn] %></font></td>
      <td><font size=1>Vector Group</font></td>
      <td><font size=1>: <%= @transformer[:vector_group] %></font></td>
   </tr>
   <tr>
      <td><font size=1>MVA Rating</font></td>
      <td><font size=1>: <%= @transformer[:maxcapacity] %> MVA</font></td>
      <td><font size=1>Winding Type</font></td>
      <td><font size=1>: <%= @winding_type %></font></td>
   </tr>
   <tr>
      <td><font size=1>HV Rating</font></td>
      <td><font size=1>: <%= @transformer[:hv] %> kV</font></td>
      <td><font size=1>End of Life</font></td>
      <td><font size=1>: <%= @endlife %> years</font></td>
   </tr>
   <tr>
      <td><font size=1>First Energized</font></td>
      <td><font size=1>: <%= @transformer[:first_energize].strftime("%d/%m/%Y") %></font></td>
      <td><font size=1>Expected Lifetime</font></td>
      <td><font size=1>: <%= @explife %> years</font></td>
   </tr>
   <tr>
      <td><font size=1>Manufacturer</font></td>
      <td><font size=1>: <%= @transformer[:manufacturing] %>/<%= @manufacturer %></font></td>
      <td><font size=1>Remaining Life</font></td>
      <td><font size=1>: <%= @remainlife %> years</font></td>
   </tr>
   <tr>
      <td><font size=1>OLTC Manufacturer</font></td>
      <td><font size=1>: <%= @transformer[:oltc_manufacturer] %></font></td>
      <td><font size=1>Overall Condition (%)</font></td>
      <td><font size=1>: <%= @overallcondition %></font></td>
   </tr>
   </table>
</center>
</td></tr></table>
</center>


<p><br><br></p>




<p><center><b><font size=1>ราคาต้นทุนทั้ง 3 ทางเลือก</font></b></center></p>
<p> <center>
<table border=0 cellspacing="0" cellpadding=0 width=95%>
<tr>
  <td bgcolor=#000000>
<table border=0 cellspacing="2" cellpadding="4" width=100%>
<tr align = "center">
  <th bgcolor=#FFFFFF><font size=1>ทางเลือก</font></th>
  <th bgcolor=#FFFFFF><font size=1>รายละเอียด</font></th>
  <th bgcolor=#FFFFFF><font size=1>ราคาต้นทุน ณ เวลาปัจจุบัน (NPV)</font></th>
</tr>
<tr>
  <td align="center" bgcolor=#FFFFFF><font size=1>1</font></td>
  <td bgcolor=#FFFFFF><font size=1>ซ่อม ณ ปัจจุบันและซ่อมหม้อแปลงสำรองเพื่อใช้งานต่อ</fonter></td>
  <td bgcolor=#FFFFFF halign=center><font size=1><%= number_with_precision(@eco_conclusion[0], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<tr>
  <td align="center" bgcolor=#FFFFFF><font size=1>2</font></td>
  <td bgcolor=#FFFFFF><font size=1>ซ่อม ณ ปัจจุบันและซื้อหม้อแปลงใหม่เมื่อสิ้นสุดใช้งานหม้อแปลงตัวเดิม</font></td>
  <td bgcolor=#FFFFFF halign=center><font size=1><%= number_with_precision(@eco_conclusion[1], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<tr>
  <td align="center" bgcolor=#FFFFFF><font size=1>3</font></td>
  <td bgcolor=#FFFFFF><font size=1>ซื้อหม้อแปลงใหม่มาใช้แทน</font></td>
  <td bgcolor=#FFFFFF halign=center><font size=1><%= number_with_precision(@eco_conclusion[2], :delimiter => ',', :precision => 2) %></font></td>
</tr>
</table>
</td>
</tr>
</table>
</center></p>
<p><center><font size=1>ทางเลือกที่เหมาะสมเชิงเศรษฐศาสตร์ คือ <%= @eco_summary %></font></center></p>



<p><br><br><br></p>





<p><center><b><font size=1>ค่าพารามิเตอร์ที่ใช้ในการคำนวณ</font></b></center></p>
<p><center>
<table bgcolor=#000000" cellpadding=1 width=95% border=0>
<tr><td>
 <center>
<table border=0 width=100% bgcolor=#FFFFFF>
<tr>
  <td><font size=1>อัตราดอกเบี้ย</font></td>
  <td><font size=1>: <%= @factorsetting[:intrate] %> %</font></td>
  <td><font size=1>อายุหม้อแปลงปีที่ค่าซากเป็นศูนย์</font></td>
  <td><font size=1>: <%= @factorsetting[:zerolife] %> ปี</font></td>
</tr>
<tr>
  <td><font size=1>อัตราเงินเฟ้อ</font></td>
  <td><font size=1>: <%= @factorsetting[:infrate] %> %</font></td>
  <td><font size=1>อายุใช้งานของหม้อแปลงที่ซ่อม</font></td>
  <td><font size=1>: <%= @repair_information[:repair_age] %> ปี</font></td>
</tr>
<tr>
  <td><font size=1>การจ่ายโหลดโดยเฉลี่ย</font></td>
  <td><font size=1>: <%= @factorsetting[:loadavg] %> %</font></td>
  <td><font size=1>อายุใช้งานของหม้อแปลงใหม่</font></td>
  <td><font size=1>: <%= @factorsetting[:projectlife] %> ปี</font></td>
</tr>
<tr>
  <td><font size=1>ค่า Loss ของหม้อแปลง (no-load and load loss)</font></td>
  <td><font size=1>: <%= @factorsetting[:loadloss] %> Baht/kWh</font></td>
  <td><font size=1>ค่าพลังงานที่ไม่ได้จ่ายไฟ</font></td>
  <td><font size=1>: <%= @factorsetting[:power] %> Baht/kWh</font></td>
</tr>
<tr>
  <td><font size=1>Power Factor</font></td>
  <td><font size=1>: <%= @factorsetting[:powerfactor] %> %</font></td>
  <td><font size=1>Unavailability</font></td>
  <td><font size=1>: <%= @factorsetting[:unavailability] %></font></td>
</tr>
</table></center></table></center></p>



<p><br><br></p>
<!----------------------------- Page 2 --------------------------------!>
<div class=pb_before>
<p><center><b><font size=1>ข้อมูลหม้อแปลงซ่อมตัวที่ 1</font></b></center></p>
<p><center>
<table width=95% border=0 cellpadding=2 bgcolor=#000000>
<tr><td>
<center>
<table border=0 width=100% bgcolor=#FFFFFF>
<tr>
  <td><font size=1>ราคาหม้อแปลง</font></td>
  <td><font size=1>: <%= number_with_precision(@transformer_price_loss.transformer_price, :delimiter => ',', :precision => 2) %> Baht</font></td>
  <td><font size=1>ค่าเสียโอกาสในการจ่ายไฟเนื่องจาก PM</font></td>
  <td><font size=1>: <%= number_with_precision(@repair_information[:pm], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>No-Load Loss</font></td>
  <td><font size=1>: <%= @transformer_price_loss.noload_loss %> kW</font></td>
  <td><font size=1>ค่าซ่อมบำรุงเฉลี่ยรายปี</font></td>
  <td><font size=1>: <%= number_with_precision(@repair_information[:mc_avg], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>Load Loss</font></td>
  <td><font size=1>: <%= @transformer_price_loss.loadloss %> kW</font></td>
  <td><font size=1>ค่าทำลายหรือรื้อถอน</font></td>
  <td><font size=1>: <%= number_with_precision(@repair_information[:det_cost], :delimiter => ',', :precision => 2) %> Baht</font></td>
</tr>
</table></center></table></center></p>

<p><BR></p>

<p><center><font size=1>รายการซ่อมหม้อแปลงตัวที่ 1</font></center></p>
<p><center>
<table border=0 cellspacing="0" cellpadding=0 width=95%>
<tr>
  <td bgcolor=#000000>
<table border=0 cellspacing="2" cellpadding="4" width=100%>
<tr>
  <th align = "center" bgcolor=#FFFFFF width=20%><font size=1>อุปกรณ์</font></th>
  <th bgcolor=#FFFFFF width=><font size=1>รายละเอียด</font></th>
  <th bgcolor=#FFFFFF width=20%><font size=1>ค่าแรงและค่าของ<BR>(บาท)</font></td>
</tr>
<%if @repair_information[:winding_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Winding</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @repair_information[:winding_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:winding_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<% end %>
<%if @repair_information[:bushing_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Bushing</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @repair_information[:bushing_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:bushing_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:arrester_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Arrester</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @repair_information[:arrester_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:arrester_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:oltc_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>OLTC</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @repair_information[:oltc_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:oltc_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:hotline_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Hot Line Oil Filter</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @repair_information[:hotline_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:hotline_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:cooling]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Cooling</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:cooling], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:overhaul]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Overhaul</font></td>
  <td bgcolor=#FFFFFF><font size=1>Renew Gasket, Oil recondition and dryout, Internal inspection, OLTC inspection, Electrical test and Oil analysis</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:overhaul], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:overhaul_and_refurbish]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Overhaul and Refurbish</font></td>
  <td bgcolor=#FFFFFF><font size=1>Renew Gasket, Oil refurbish, Internal inspection, OLTC inspection, Electrical test and Oil analysis</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:overhaul_and_refurbish], :delimiter => ',', :precision => 2) %></font></td></tr>
<%end%>
<%if @repair_information[:rep_rubber_bag]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Replacing Rubber Bag</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:rep_rubber_bag], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:rep_bct]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Replacing BCT, others</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:rep_bct], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @repair_information[:others]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Others</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@repair_information[:others], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
</table>
</td></tr></table>
 </center><br>


 <center><font size=1>รวมค่าใช้จ่ายในการซ่อมหม้อแปลงที่เสียหาย (ค่าแรงและค่าของ) :<%= number_with_precision(@repair_information[:winding_cost]+@repair_information[:bushing_cost]+@repair_information[:arrester_cost]+@repair_information[:oltc_cost]+@repair_information[:hotline_cost]+@repair_information[:cooling]+@repair_information[:overhaul]+@repair_information[:overhaul_and_refurbish]+@repair_information[:rep_rubber_bag]+@repair_information[:rep_bct]+@repair_information[:others], :delimiter => ',', :precision => 2) %> บาท</font></center>
</p>
</div>

<!-------------------------- Page 3 ---------------------------------------!>
<div class=pb_before>
<p><center><b><font size=1>ข้อมูลหม้อแปลงซ่อมตัวที่ 2</font></b></center></p>
<p><center>
<table width=95% border=0 cellpadding=2 bgcolor=#000000>
<tr><td>
<center>
<table border=0 width=100% bgcolor=#FFFFFF>
<tr>
  <td><font size=1>ราคาซื้อขายหม้อแปลง</font></td>
  <td><font size=1>: <%= number_with_precision(@option1_information.transformer_price, :delimiter => ',', :precision => 2) %> Baht</font></td>
  <td><font size=1>ค่าเสียโอกาสในการจ่ายไฟเนื่องจาก PM</font></td>
  <td><font size=1>: <%= number_with_precision(@option1_information[:pm], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>No-Load Loss</font></td>
  <td><font size=1>: <%= @option1_information.noload_loss %> kW</font></td>
  <td><font size=1>ค่าซ่อมบำรุงเฉลี่ยรายปี</font></td>
  <td><font size=1>: <%= number_with_precision(@option1_information[:mc_avg], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>Load Loss</font></td>
  <td><font size=1>: <%= @option1_information.loadloss %> kW</font></td>
  <td><font size=1>ค่าทำลายหรือรื้อถอน</font></td>
  <td><font size=1>: <%= number_with_precision(@option1_information[:det_cost], :delimiter => ',', :precision => 2) %> Baht</font></td>
</tr>
</table></center></table></center></p>

<p><BR><BR></p>

<p><center><font size=1>รายการซ่อมหม้อแปลงตัวที่ 2</font></center></p>
<p><center>
<table border=0 cellspacing="0" cellpadding=0 width=95%>
<tr>
  <td bgcolor=#000000>
<table border=0 cellspacing="2" cellpadding="4" width=100%>
<tr>
  <th align = "center" bgcolor=#FFFFFF width=20%><font size=1>อุปกรณ์</font></th>
  <th bgcolor=#FFFFFF><font size=1>รายละเอียด</font></th>
  <th bgcolor=#FFFFFF width=20%><font size=1>ค่าแรงและค่าของ<BR>(บาท)</font></td>
</tr>
<%if @option1_information[:winding_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Winding</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @option1_information[:winding_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:winding_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<% end %>
<%if @option1_information[:bushing_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Bushing</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @option1_information[:bushing_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:bushing_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:arrester_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Arrester</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @option1_information[:arrester_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:arrester_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:oltc_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>OLTC</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @option1_information[:oltc_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:oltc_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:hotline_cost]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Hot Line Oil Filter</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= @option1_information[:hotline_type] %></font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:hotline_cost], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:cooling]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Cooling</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:cooling], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:overhaul]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Overhaul</font></td>
  <td bgcolor=#FFFFFF><font size=1>Renew Gasket, Oil recondition and dryout, Internal inspection, OLTC inspection, Electrical test and Oil analysis</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:overhaul], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:overhaul_and_refurbish]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Overhaul and Refurbish</font></td>
  <td bgcolor=#FFFFFF><font size=1>Renew Gasket, Oil refurbish, Internal inspection, OLTC inspection, Electrical test and Oil analysis</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:overhaul_and_refurbish], :delimiter => ',', :precision => 2) %></font></td></tr>
<%end%>
<%if @option1_information[:rep_rubber_bag]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Replacing Rubber Bag</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:rep_rubber_bag], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:rep_bct]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Replacing BCT, others</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:rep_bct], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
<%if @option1_information[:others]!=0%>
<tr align = "center">
  <td bgcolor=#FFFFFF><font size=1>Others</font></td>
  <td bgcolor=#FFFFFF><font size=1>-</font></td>
  <td bgcolor=#FFFFFF><font size=1><%= number_with_precision(@option1_information[:others], :delimiter => ',', :precision => 2) %></font></td>
</tr>
<%end%>
</table>
</td></tr></table>
 </center><br>
 <center><font size=1>รวมค่าใช้จ่ายในการซ่อมหม้อแปลงที่เสียหาย (ค่าแรงและค่าของ) :<%= number_with_precision(@option1_information[:winding_cost]+@option1_information[:bushing_cost]+@option1_information[:arrester_cost]+@option1_information[:oltc_cost]+@option1_information[:hotline_cost]+@option1_information[:cooling]+@option1_information[:overhaul]+@option1_information[:overhaul_and_refurbish]+@option1_information[:rep_rubber_bag]+@option1_information[:rep_bct]+@option1_information[:others], :delimiter => ',', :precision => 2) %> บาท</font></center>
</p>
</div>

<!---------------------------- Page 4 ----------------------------!>
<div class=pb_before>
<p><center><b><font size=1>ข้อมูลการซื้อหม้อแปลงใหม่ของทางเลือกที่ 2</font></b></center></p>
<p><center><font size=1>(ซ่อม ณ ปัจจุบันและซื้อหม้อแปลงใหม่เมื่อสิ้นสุดใช้งานหม้อแปลงตัวเดิม)</font></center></p>

<p><center>
<table cellpadding=1 border=0 bgcolor=#000000 width=95%>
<tr><td>
<center>
<table border=0 width=100% bgcolor=#FFFFFF>
<tr>
  <td><font size=1>ราคาหม้อแปลงใหม่</font></td>
  <td><font size=1>: <%= number_with_precision(@option2_information[:new_transformer_price], :delimiter => ',', :precision => 2) %> Baht</font></td>
  <td><font size=1>ค่าเสียโอกาสในการจ่ายไฟเนื่องจาก PM</font></td>
  <td><font size=1>: <%= number_with_precision(@option2_information[:pm], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>No-Load Loss</font></td>
  <td><font size=1>: <%= @option2_information[:noload_loss] %> kW</font></td>
  <td><font size=1>ค่าซ่อมบำรุงเฉลี่ยรายปี</font></td>
  <td><font size=1>: <%= number_with_precision(@option2_information[:mc_avg], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>Load Loss</td>
  <td><font size=1>: <%= @option2_information[:loadloss] %> kW</font></td>
  <td><font size=1>ค่าทำลายหรือรื้อถอน</font></td>
  <td><font size=1>: <%= number_with_precision(@option2_information[:det_cost], :delimiter => ',', :precision => 2) %> Baht</font></td>
</tr>
<tr>
  <td><font size=1>Rated Power</font></td>
  <td><font size=1>: <%= @option2_information[:rated_power] %> MVA</font></td>
  <td></td><td></td></tr>
</table></center></table></center></p>

<BR><BR>

<p><center><b><font size=1>ข้อมูลการซื้อหม้อแปลงใหม่ของทางเลือกที่ 3</font></b></center>
<p><center><font size=1>(ซื้อหม้อแปลงใหม่มาใช้แทน)</font></center></p>
<p><center>
<table cellpadding=1 border=0 bgcolor=#000000 width=95%>
<tr><td>
<center>
<table border=0 width=100% bgcolor=#FFFFFF>
<tr>
  <td><font size=1>ราคาหม้อแปลงใหม่</font></td>
  <td><font size=1>: <%= number_with_precision(@option3_information[:new_transformer_price], :delimiter => ',', :precision => 2) %> Baht</font></td>
  <td><font size=1>ค่าเสียโอกาสในการจ่ายไฟเนื่องจาก PM</font></td>
  <td><font size=1>: <%= number_with_precision(@option3_information[:pm], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>No-Load Loss</font></td>
  <td><font size=1>: <%= @option3_information[:noload_loss] %> kW</font></td>
  <td><font size=1>ค่าซ่อมบำรุงเฉลี่ยรายปี</font></td>
  <td><font size=1>: <%= number_with_precision(@option3_information[:mc_avg], :delimiter => ',', :precision => 2) %> Baht/year</font></td>
</tr>
<tr>
  <td><font size=1>Load Loss</font></td>
  <td><font size=1>: <%= @option3_information[:loadloss] %> kW</font></td>
  <td><font size=1>ค่าทำลายหรือรื้อถอน</font></td>
  <td><font size=1>: <%= number_with_precision(@option3_information[:det_cost], :delimiter => ',', :precision => 2) %> Baht</font></td>
</tr>
<tr>
  <td><font size=1>Rated Power</font></td>
  <td><font size=1>:<%= @option3_information[:rated_power] %> MVA</font></td><td></td><td></td>
</tr>
</table></center></td></tr></table></center></p>
</div>
