<h1 id="head">EGAT - PTU</h1>
 <ul class="nav main"> 
   <li><%= link_to 'Home', transformer_informations_path %></li>
   
   <li><%= link_to 'รายงาน'  , '#' %>
		<ul>
		<li><%= link_to 'รายงานมาตรฐาน',  chart_transformer_chart_index_path %></li>
		<li><%= link_to 'รายงานข้อมูลหม้อแปลงไฟฟ้า',  report_transformer_transformer_chart_index_path %></li>
		<li><%= link_to 'รายงานข้อมูลความเสียหาย',  report_transformer_f_transformer_chart_index_path %></li>
		</ul>
   </li>

    <li> <%= link_to 'ข้อมูลพื้นฐานของหม้อแปลง', '#' %>
      <ul>  
        <li><%= link_to 'หม้อแปลงไฟฟ้า', txlist_transformer_info_index_path %></li>
		<li><%= link_to 'การย้ายหม้อแปลง', txlistmove_transformer_info_index_path %></li>
		
     </ul> 
   </li>
 
   
   <li><%= link_to 'ความผิดปกติหม้อแปลง', '/ptu3/transformer_info/failurereport?region=' %></li>
   
    <li><%= link_to 'ข้อมูลบำรุงรักษาหม้อแปลง', '#' %>
		<ul>
			<li><%= link_to 'ค้นหาข้อมูลบำรุงรักษาหม้อแปลง', '/ptu2/webtool/searchform' %></li>    			
			<li><%= link_to 'Visual Inspection', '/ptu2/chartpresent/menu?id=1' %></li>    
			<li><%= link_to 'ผลทดสอบทางน้ำมัน', '/ptu2/chartpresent/menu?id=2' %></li> 
			<li><%= link_to 'ผลทดสอบทางไฟฟ้า', '/ptu2/chartpresent/menu?id=3' %></li>      
			<li><%= link_to 'บำรุงรักษา OLTC', '/ptu2/chartpresent/menu?id=4' %></li>      
			<li><%= link_to 'ดูข้อมูลผลการทดสอบทั้งหมด', '/ptu2/chartpresent/createtranform?performance=start&action=start' %></li>      
			<li><%= link_to 'ตรวจสอบสภาพหม้อแปลงไฟฟ้า', '/ptu2/performdraftresult/checkform' %></li>      

		</ul>
	<li>
	
	<li><%= link_to 'ค่าประเมินอายุ', '#' %>
		<ul>
			<li><%= link_to 'DP Limit', edit_dp_index_path %></li>
		</ul>
	</li>
	
	<li><%= link_to 'Upload ข้อมูล', '#'%>
		<ul>
			<li><%= link_to 'การทดสอบทางน้ำมัน', '/ptu2/webtool/uploadoilform' %></li>    			
			<li><%= link_to 'การทดสอบทางไฟฟ้า', '/ptu2/webtool/uploadelecform' %></li>    
			<li><%= link_to 'ตรวจสอบความถูกต้อง', '/ptu2/performdraftresult/updateform' %></li> 
		</ul>				
	</li>
	
   <li> 
     <a href="#">ความสำคัญของหม้อแปลง</a> 
     <ul> 
       <li><%= link_to 'เพิ่มรายการ', new_transformer_information_path %></li>
       <li><%= link_to 'ค้นหาและเเก้ไข', search_transformer_informations_path%></li> 
     </ul> 
   </li> 

        
   <li> 
     <%= link_to 'การวิเคราะห์ทางเศรษฐศาสตร์', economic_analysis_path %>
      <ul> 
       <li><%= link_to 'Factor Setting', edit_factor_setting_index_path %></li>
       <li><%= link_to 'ราคาและ Loss ของหม้อแปลง', search_price_loss_path %></li>
       <li><%= link_to 'ข้อมูลที่จำเป็นในการพิจารณา', search_information_decision_index_path %></li> 
     </ul> 
   </li>       
   <li>
     <%= link_to 'Inventory Control', ic_oil_index_path %>
      <ul>  
        <li><%= link_to 'น้ำมันหม้อแปลง', oil_chart_ic_oil_index_path %></li>
				<li><a href="<%= menu_store_ic_oil_index_path %>">&nbsp;&nbsp;&nbsp; - คลังรายการน้ำมัน</a></li>
       			<li><a href="<%= menu_withdraw_ic_oil_index_path%>">&nbsp;&nbsp;&nbsp; - รายการเบิกจ่าย</a></li> 
       			<li><a href="<%= oil_buy_ic_oil_index_path%>">&nbsp;&nbsp;&nbsp; - รายการสั่งซื้อ/รับน้ำมัน</a></li> 
       			<li><a href="<%= payment_list_ic_oil_index_path%>">&nbsp;&nbsp;&nbsp; - รายการค่าใช้จ่าย</a></li> 
       			<li><a href="<%= oil_calresult_ic_oil_index_path%>">&nbsp;&nbsp;&nbsp; - ผลการคำนวณ</a></li> 
       			<li><a href="<%= oil_period_ic_oil_index_path%>">&nbsp;&nbsp;&nbsp; - ระยะเวลาได้รับน้ำมัน</a></li> 
	<li><%= link_to 'Bushing, Arrester, OLTC', weibull_select_weibull_index_path %></li>
     </ul> 
   </li>


   <li>
     <%= link_to 'การจัดการ', '#' %>
      <ul> 
       <li><%= link_to 'การจัดการผู้ใช้', listuser_usermanage_index_path %></li>
       <li><%= link_to 'กำหนดข้อมูลพื้นฐานหม้อแปลง', manufacturing_index_path %></li>
       <li><%= link_to 'กำหนดข้อมูลความสำคัญหม้อแปลง', adjust_transformer_informations_path %></li> 
       <li><%= link_to 'กำหนดข้อมูลการทดสอบ' %></li>
       		<li><a href="/ptu2/inspection?page=1&size=10">- เงื่อนไขของ Visual</a></li>
       		<li><a href="/ptu2/inspection_detail?page=1&size=10">- รายละเอียดเงื่อนไขของ Visual</a></li>
       		<li><a href="/ptu2/performancegroup?page=1&size=10">- กลุ่มของคะแนน</a></li>
       		<li><a href="/ptu2/performsubgroup?page=1&size=10">- กลุ่มย่อยของคะแนน</a></li>
       		<li><a href="/ptu2/performpart?page=1&size=10">- กลุ่มชิ้นส่วนของคะแนน</a></li>
       		<li><a href="/ptu2/performscore?page=1&size=10">- คะแนน</a></li>
       		<li><a href="/ptu2/chiscore?page=1&size=10">- คะแนน %CHI</a></li>
       </li> 
     </ul> 
   </li>


   
   <li> <%= link_to 'คู่มือการใช้งาน', '#' %>
  <%if ! session[:user].nil?%>
	<li><a href="<%= logout_login_index_path %>">ออกจากระบบ</a></li>
  <%end%>
  

 </ul> 
