<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Transformer Information: <%= controller.action_name %></title>
    <!--[if IE]><%= javascript_include_tag 'extcanvas.min' %><![endif]--> 
    <% unless @no_js %>
    <%= 
        javascript_include_tag 'jquery-1.4.2.min', 'ext-jquery-adapter', 
                              'ext-all', 'jquery-ui-1.8.4.custom.min', 
                              'jquery.blockUI', 'jquery.tmpl', 'facybox', 'facebox' ,
                              'json2', 'jquery.url', 'jquery.tablesorter.min',
                              'jquery.cluetip', 'jquery.flot.min', 'jquery.flot.selection.min', 
                              'jquery.flot.axislabels', 'jquery.multirowcheckboxmenu', 
                              'controllers/transformer_informations'

      %>
    <%= yield :javascript %>
    <% end %>
    <%= stylesheet_link_tag '960', 'template', 'nav', 'colour', 'facebox' %>
 	<%= stylesheet_link_tag 'jquery-ui-1.8.4.custom', 'jquery.cluetip', 'controllers/transformer_information' %>
       <%= yield :css %>
    <style type="text/css">
    </style>
  </head>
  <body>
    <% unless @no_header %>
      <%= render :partial => 'layouts/header' %>    
    <% end %>
    <div id="content" class="container_16 clearfix">
    <% if notice %>
	<p class="success"><%= notice %></p>
    <%end %>   	
    	
      <%= yield %>
    </div>
    <% unless @no_footer %>
      <%= render :partial => 'layouts/footer' %>
    <% end %>
    
  </body>
</html>
